.form-edit-contrato-label {
  font-weight: bold !important;
}

.form-edit-contrato-title {
  font-weight: bold;
  text-align: center;
}

.form-edit-contrato-btn-select-equipo {
  position: absolute;
  right: 0;
  left: 1%;
  top: -16%;
}

.selectEquipo {
  background-color: darkgrey !important;
  cursor: pointer !important;
}

.col-label-edit-contrato {
  text-align: right !important;
}

.btn-edit-representante {
  margin-top: -1% !important;
}

>>> .ui-dropdown {
  border: 1px solid rgba(34, 36, 38, 0.50) !important;
  border-radius: 0 !important;
  border-image: initial !important;
  -webkit-appearance: menulist !important;
  width: 100% !important;
  height: 40px !important;
  display: block;
}

.tamanho-total {
  width: 100% !important;
}

.tamanho-medio{
  width: 50% !important;
}

.btn-add-equipo {
  margin-bottom: 1% !important;
}
