<h2 class="form-edit-contrato-title">Editar Contrato</h2>
<form class="compact" #contratoForm="ngForm">
  <!-- errors -->
  <div class="alert alert-danger alert-sm" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="exclamation-circle">
          </clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close"
            (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>

  <section class="form-block">
    <!--información gral del contrato-->
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label required" for="id">ID:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="id" required
               name="id" [(ngModel)]="contratoId">
      </div>

      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label" for="nroContrato">Nro. Contrato:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="nroContrato"
               name="nroContrato" [(ngModel)]="numeroContrato">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label required" for="tipo">Tipo Procedimiento:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="tipo" required
               name="tipo" [(ngModel)]="tipoProcedimiento">
      </div>

      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label" for="nroProc">Nro Procedimiento:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="nroProc"
               name="nroProc" [(ngModel)]="numeroProcedimiento">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label required" for="convocante">Convocante:</label>
      </div>
      <div class="col-xs-5">
        <input class="form-control" id="convocante" required
               name="convocante" [(ngModel)]="convocante">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label required">Nombre Licitación:</label>
      </div>
      <div class="col-xs-5">
        <textarea class="form-control" id="descripcion" rows="5"
                  name="descripcion" [(ngModel)]="nombreLicitacion" required>
        </textarea>
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label" for="estado">Estado:</label>
      </div>
      <div class="col-xs-2">
        <div class="select form-control">
          <select class="select-form-contrato" id="estado" #selectEstado name="estado"
                  [(ngModel)]="estadoContrato"
                  (change)="onSelectedEstadoContrado(selectEstado.value)">
            <option *ngFor="let estado of estadosContrato"
                    value={{estado.nombre}}>{{estado.nombre}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label required">Fecha Inicio:</label>
      </div>

      <div class="col-xs-2">
        <clr-date-container>
          <input type="date" clrDate name="fechaInicio" [(ngModel)]="fechaInicio"
                 min="2000-01-01" max="2030-12-31" required>
        </clr-date-container>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label required">Finalización:</label>
      </div>
      <div class="col-xs-2">
        <clr-date-container>
          <input type="date" clrDate name="fechaFin" [(ngModel)]="fechaFin"
                 min="2000-01-01" max="2030-12-31" required>
        </clr-date-container>
      </div>
    </div>

    <!--lista de equipos-->
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2 col-label-edit-contrato">
        <label class="form-edit-contrato-label" for="equipo">Equipos:</label>
      </div>
      <div class="col-xs-5">
        <div class="select form-control">
          <select class="select-form-contrato" id="equipo" #selectEquipo name="equipo"
                  [(ngModel)]="equipoId"
                  (change)="onSelectedEquipo(selectEquipo.value.toString())">
            <option *ngFor="let equipo of equipos"
                    value={{equipo.id}}>{{equipo.numeroSerie}} - {{equipo.descripcionEquipo}}-
              {{equipo.tipoEquipo.tipo}}-{{equipo.modeloEquipo.modelo}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="form-edit-edit-contrato-btn-select-equipo btn btn-sm btn-success"
                (click)="addEquipo()"
                [disabled]="equipoId == null">
          <clr-icon shape="add"></clr-icon>
          Add
        </button>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-12">
        <clr-datagrid *ngIf="selectedEquipos.length > 0">
          <clr-dg-action-bar>
            <button class="btn btn-sm btn-warning"
                    [disabled]="!isSelectedEquipo"
                    (click)="onDeleteEquipo()">
              Delete
            </button>
          </clr-dg-action-bar>
          <clr-dg-column>Nro. Serie</clr-dg-column>
          <clr-dg-column>Descripción</clr-dg-column>
          <clr-dg-column>Tipo</clr-dg-column>
          <clr-dg-column>Marca</clr-dg-column>
          <clr-dg-column>Modelo</clr-dg-column>
          <clr-dg-column>Nro. Patrimonial</clr-dg-column>
          <clr-dg-column>Estado</clr-dg-column>
          <clr-dg-row *ngFor="let equipo of selectedEquipos"
                      (click)="onSelectEquipo(equipo)"
                      [class.selectEquipo]="equipo === selectedEquipo">
            <clr-dg-cell>{{equipo.numeroSerie}}</clr-dg-cell>
            <clr-dg-cell>{{equipo.descripcionEquipo}}</clr-dg-cell>
            <clr-dg-cell>{{equipo.tipoEquipo.tipo}}</clr-dg-cell>
            <clr-dg-cell>{{equipo.modeloEquipo.marca}}</clr-dg-cell>
            <clr-dg-cell>{{equipo.modeloEquipo.modelo}}</clr-dg-cell>
            <clr-dg-cell>{{equipo.numeroPatrimonial}}</clr-dg-cell>
            <clr-dg-cell>{{equipo.estado}}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </section>
  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(contratoForm.form.invalid )"
            (click)="onSaveContrato()">
      <clr-icon shape="floppy"></clr-icon>
      Guardar
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
  </section>
</form>

