<form class="clr-form clr-form-compact">
  <h2 class="form-orden-trabajo-title">Orden de Trabajo Atendida</h2>
  <br>
  <!--info action-->
  <div class="alert alert-info alert-sm" *ngIf="info">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="check-circle">
          </clr-icon>
        </div>
        <span class="alert-text">
            {{ infoMessage }}
          </span>
      </div>
    </div>
  </div>

  <!-- errors -->
  <div class="alert alert-danger alert-sm" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="exclamation-circle">
          </clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <a type="button" class="close" aria-label="Close"
       (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </a>
  </div>

  <!--lista de orden-trabajo-->
  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-action-bar>
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-auto">Tipo de Mantenimineto:</label>
        <div class="clr-control-container clr-col-auto">
          <select clrSelect name="tipoServicio" [(ngModel)]="tipoSeleccionado"
                  (ngModelChange)="onSelectedTipoMantinieminto()">
            <option>Seleccione una opción</option>
            <option *ngFor="let tipo of tipoServicios"
                    value={{tipo.nombre}}>{{tipo.nombre}}
          </select>
        </div>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column [clrDgSortBy]="'fecha'">Fecha a realizarse el trabajo</clr-dg-column>
    <clr-dg-column>Estado</clr-dg-column>
    <clr-dg-column>Tipo de Mantenimiento</clr-dg-column>
    <clr-dg-column>Diagnostico</clr-dg-column>
    <clr-dg-column>Equipo</clr-dg-column>
    <clr-dg-column>Acción</clr-dg-column>
    <clr-dg-placeholder>
      <div *ngIf="ordenTrabajoList && ordenTrabajoList.length === 0">
        No existen datos para la orden de trabajo
      </div>
    </clr-dg-placeholder>
    <clr-dg-row *ngFor="let ordenTrabajo of ordenTrabajoList">
      <clr-dg-cell>{{ordenTrabajo.fechaRealizacion}}</clr-dg-cell>
      <clr-dg-cell>{{ordenTrabajo.estado}}</clr-dg-cell>
      <clr-dg-cell>{{ordenTrabajo.tipoServicio}}</clr-dg-cell>
      <clr-dg-cell>{{ordenTrabajo.diagnostico}}</clr-dg-cell>
      <clr-dg-cell>
        <ul class="list-unstyled" *ngFor="let equipo of ordenTrabajo.equipos">
          <li>{{equipo.numeroSerie}}-{{equipo.descripcionEquipo}}</li>
        </ul>
      </clr-dg-cell>
      <clr-dg-cell>
        <a class="btn btn-sm btn-warning"
           (click)="editarMantenimineto(ordenTrabajo.id)">
          Editar
        </a>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{total}} orden-trabajos
      <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</form>

