.form-orden-trabajo-title {
  font-weight: bold;
  text-align: center;
}

.form-orden-trabajo-label {
  font-weight: bold;
}

.selectOrdenTrabajo {
  background-color: darkgrey !important;
  cursor: pointer !important;
}

pre {
  border: 0 solid #ccc !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.table-header {
  font-size: 13px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  text-align: center !important;
}

.table-column {
  font-size: 12px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.cod-cant-field {
  min-width: 5% !important;
  width: 5% !important;
}
