.form-add-edit-solicitud-label {
  font-weight: bold;
}

.form-add-edit-solicitud-title{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.form-add-edit-solicitud-btn-add-resp {
  margin-top: 1% !important;
}

.selectRepuesto {
  background-color: darkgrey !important;
}
