<h5 class="form-add-edit-solicitud-title">{{tituloForm }}</h5>
<!--Formulario para la solicitud de servicio-->
<form class="compact" *ngIf="selectedSolicitudServicio" #solicitudServicioForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label" for="estado">Estado:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="estado"
               name="estado" [(ngModel)]="solicitudServicio.estado">
      </div>
      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label required" for="fechaSolicitud">Fecha:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" type="date"
               id="fechaSolicitud" required
               name="fechaSolicitud"
               [(ngModel)]="solicitudServicio.fechaSolicitud">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label required">Personal que informó el problema:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="personal"
               [(ngModel)]="solicitudServicio.personalReporte">
      </div>

      <div class="col-xs-2">
        <label class="form-add-edit-solicitu-label" for="descriptionProb">Descripción del Problema:</label>
      </div>
      <div class="col-xs-4">
            <textarea class="form-control" id="descriptionProb" rows="3"
                      maxlength="2000"
                      name="descriptionProb" [(ngModel)]="solicitudServicio.descripcionProblema">
            </textarea>
      </div>
    </div>
  </section>

  <!--equipos-->
  <h6 class="form-add-edit-solicitud-title">Información del Equipo</h6>
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label">Nro. Serie:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="serie">
      </div>

      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label">Nro. Patrimonial:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="patrimonial">
      </div>

      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label">Tipo:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="Tipo">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label">Modelo:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="modelo">
      </div>

      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label">Ubicación:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="Ubicación">
      </div>

      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label">Contrato:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="Contrato">
      </div>

    </div>
  </section>

  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(solicitudServicioForm.form.invalid )"
            (click)="onSaveSolicitud()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="onCancelAddEditSolicitud()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </button>
  </section>
</form>

<!--Formulario para la solicitud de repuestos-->
<form class="compact" *ngIf="!selectedSolicitudServicio" #solicitudRepuestoForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-solicitud-label" for="estadoRe">Estado:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="estadoRe"
               name="estadoRe" [(ngModel)]="solicitudRepuesto.estado">
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-1">
        <label class="form-add-edit-solicitud-label required" for="fechaSolicitudRe">Fecha:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" type="date"
               id="fechaSolicitudRe" required
               name="fechaSolicitudRe"
               [(ngModel)]="solicitudRepuesto.fechaSolicitud">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-add-edit-solicitud-label required">Repuestos:
        </label>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-sm btn-success"
                (click)="addRepuesto()">
          <clr-icon shape="plus"></clr-icon>
          {{buttonTitleRepuesto}}
        </button>
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-12">
        <clr-datagrid *ngIf="solicitudRepuesto.repuestos!= null &&
        solicitudRepuesto.repuestos.length > 0">
          <clr-dg-action-bar>
            <button class="btn btn-sm btn-warning"
                    [disabled]="!isSelectedRepuesto"
                    (click)="onDeleteRepuesto()">
              Delete
            </button>
            <button class="btn btn-sm btn-success"
                    [disabled]="!isSelectedRepuesto"
                    (click)="onEditRepuesto()">
              Edit
            </button>
          </clr-dg-action-bar>
          <clr-dg-column>Código</clr-dg-column>
          <clr-dg-column>Descripción</clr-dg-column>
          <clr-dg-column>Cantidad Adquirida</clr-dg-column>
          <clr-dg-column>Precio</clr-dg-column>
          <clr-dg-row *ngFor="let repuesto of solicitudRepuesto.repuestos"
                      (click)="onSelectedRepuesto(repuesto)"
                      [class.selectRepuesto]="repuesto === selectedRepuesto">
            <clr-dg-cell>{{repuesto.codigo}}</clr-dg-cell>
            <clr-dg-cell>{{repuesto.descripcionArticulo}}</clr-dg-cell>
            <clr-dg-cell>{{repuesto.cantidadAdquirida}}</clr-dg-cell>
            <clr-dg-cell>{{repuesto.precio}}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </section>
  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(solicitudRepuestoForm.form.invalid )"
            (click)="onSaveSolicitud()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="onCancelAddEditSolicitud()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </button>
  </section>
</form>


<!--Modal para agregar o editar los datos de un repuesto-->
<clr-modal [(clrModalOpen)]="modalRepuestosOpen" [clrModalClosable]="false"
           [clrModalSize]="'lg'"
           *ngIf="repuesto">
  <h3 class="modal-title form-add-edit-solicitud-label">{{modalTitleRepuesto}}</h3>
  <div class="modal-body">
    <form class="compact" #repuestoForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required" for="codigo">Código:</label>
          </div>
          <div class="col-xs-3">
            <input class="form-control" id="codigo" required
                   name="codigo" [(ngModel)]="repuesto.codigo">
          </div>
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label" for="descripcionArt">Descripción:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="descripcionArt"
                   name="descripcionArt" [(ngModel)]="repuesto.descripcionArticulo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required" for="precio">Precio:</label>
          </div>
          <div class="col-xs-3">
            <input class="form-control" id="precio" required
                   name="precio" [(ngModel)]="repuesto.precio">
          </div>

          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required" for="fecha">Fecha:</label>
          </div>
          <div class="col-xs-3">
            <input class="form-control" type="date"
                   id="fecha" name="fecha" required
                   [(ngModel)]="repuesto.fechaActualizacion">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required" for="cantidadAd">Cantidad Adquirida:</label>
          </div>
          <div class="col-xs-3">
            <input class="form-control" id="cantidadAd" required
                   name="cantidadAd" [(ngModel)]="repuesto.cantidadAdquirida">
          </div>
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label" for="cantidadRes">Cantidad Restante:</label>
          </div>
          <div class="col-xs-3">
            <input class="form-control" id="cantidadRes"
                   name="cantidadRes" [(ngModel)]="repuesto.cantidadRestante">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required">Tipo:</label>
          </div>
          <div class="col-xs-3" *ngIf="repuesto.tipoEquipo != null">
            <div class="select form-control">
              <select id="selectTipo" #selectedTipo name="selectTipo"
                      [(ngModel)]="repuesto.tipoEquipo.id"
                      (change)="onSelectedTipoEquipo(selectedTipo.value)">
                <option *ngFor="let tipo of tipos"
                        value={{tipo.id}}>{{tipo.tipo}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-3" *ngIf="repuesto.tipoEquipo == null">
            <div class="select form-control">
              <select id="tipoE" disabled>
                <option disabled>Agregar Tipo</option>
              </select>
            </div>
          </div>
          <!--<div class="col-xs-1">-->
          <!--<button class="form-add-edit-equipo-btn-add btn btn-sm btn-success"-->
          <!--(click)="addTipoEquipo()">-->
          <!--<clr-icon shape="plus"></clr-icon>-->
          <!--{{buttonTitleTipo}}-->
          <!--</button>-->
          <!--</div>-->
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required">Modelo:</label>
          </div>
          <div class="col-xs-3" *ngIf="repuesto.modeloEquipo != null">
            <div class="select form-control">
              <select id="selectModelo" #selectedModelo name="selectModelo"
                      [(ngModel)]="repuesto.modeloEquipo.id"
                      (change)="onSelectedModeloEquipo(selectedModelo.value)">
                <option *ngFor="let modelo of modelos"
                        value={{modelo.id}}>{{modelo.modelo}}, {{modelo.marca}} }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-3" *ngIf="repuesto.modeloEquipo == null">
            <div class="select form-control">
              <select id="modeloE" name="modeloE" disabled>
                <option disabled>Agregar Modelo</option>
              </select>
            </div>
          </div>
          <!--<div class="col-xs-1">-->
          <!--<button class="form-add-edit-equipo-btn-add btn btn-sm btn-success"-->
          <!--(click)="addModeloEquipo()">-->
          <!--<clr-icon shape="plus"></clr-icon>-->
          <!--{{buttonTitleModelo}}-->
          <!--</button>-->
          <!--</div>-->
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-solicitud-label required">Representante:</label>
          </div>
          <div class="col-xs-2" *ngIf="repuesto.representante != null">
            <input class="form-control" id="representante" required
                   name="representante" [(ngModel)]="repuesto.representante.empresa"
                   disabled>
          </div>

          <div class="col-xs-3" *ngIf="repuesto.representante == null">
            <input class="form-control" id="repre"
                   disabled>
          </div>

          <div class="col-xs-1">
            <button class="form-add-edit-solicitud-btn-add-resp btn btn-sm btn-success"
                    (click)="addRepresentante()">
              <clr-icon shape="user"></clr-icon>
              {{buttonTitleRepre}}
            </button>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="modalRepuestosOpen = false">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(repuestoForm.form.invalid )"
            (click)="onAddRepuesto()">Add
    </button>
  </div>
</clr-modal>
