<form class="clr-form clr-form-compact">
  <h2 class="form-repuesto-title">Repuestos</h2>
  <br>

  <!-- errors -->
  <div class="alert alert-danger alert-sm" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="exclamation-circle">
          </clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <a type="button" class="close" aria-label="Close"
       (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </a>
  </div>
  <br>

  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-action-bar>
      <div class="clr-row clr-justify-content-start clr-col-12">
        <div class="clr-col-3">
          <div class="form-group row flex-items-xs-left">
            <div class="col-3">
              <label class="form-filter-label">Tipo:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-repuesto" id="selectTipo" #selectedTipo name="selectTipo"
                        [(ngModel)]="tipoId" (change)="onSelectedTipo(selectedTipo.value)">
                  <option>Filtrar por Tipo</option>
                  <option *ngFor="let tipo of tipos"
                          value={{tipo.id}}>{{tipo.tipo}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="clr-col-6">
          <div class="form-group row flex-items-xs-left">
            <div class="col-3">
              <label class="form-filter-label">Marca/Modelo:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-repuesto" id="selectModelo" #selectedModelo
                        name="selectModelo" [(ngModel)]="modeloId"
                        (change)="onSelectedMarcaModelo(selectedModelo.value)">
                  <option>Filtrar por Marca/Modelo</option>
                  <option *ngFor="let modelo of modelos"
                          value={{modelo.id}}>{{modelo.marca}}/{{modelo.modelo}}
                  </option>
                </select>
              </div>
            </div>
            <div class="clr-col-2">
              <a class="btn btn-sm btn-primary" (click)="filtrarRepuesto()">
                <clr-icon shape="search"></clr-icon>
              </a>
            </div>
          </div>
        </div>

        <div class="clr-row clr-col-12">
          <div class="clr-col-4">
            <div class="form-group row flex-items-xs-left">
              <div class="col-3">
                <label class="form-filter-label">Estado Equipo:</label>
              </div>
              <div class="col-4">
                <div class="select form-control">
                  <select class="select-form-equipo" id="estadoEquipo" #selectedEstadoEquipo
                          name="estadoEquipo" [(ngModel)]="estadoEquipo"
                          (change)="onSelectedEstadoEquipo(selectedEstadoEquipo.value)">
                    <option>Filtrar por Estado Equipo</option>
                    <option>Operativo</option>
                    <option>Inoperativo</option>
                    <option>Irreparable</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-4">
          </div>
        </div>
        <div class="clr-row clr-col-12">
          <div class="clr-col-6">
            <div class="clr-form-control clr-row">
              <a class="btn btn-sm btn-success"
                 (click)="goNewRepuestoForm()">
                <clr-icon shape="plus"></clr-icon>
                Crear
              </a>
              <a class="btn btn-sm btn-success"
                 *ngIf="repuestoSeleccionado != null"
                 (click)="editRepuesto()">
                <clr-icon shape="pencil"></clr-icon>
                Editar
              </a>
            </div>
          </div>
        </div>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column class="table-header">Código</clr-dg-column>
    <clr-dg-column class="table-header">Descripción</clr-dg-column>
    <clr-dg-column class="table-header">Precio</clr-dg-column>
    <clr-dg-column class="table-header">Cantidad Adquirida</clr-dg-column>
    <clr-dg-column class="table-header">Stock</clr-dg-column>
    <clr-dg-column class="table-header">Tipo</clr-dg-column>
    <clr-dg-column class="table-header">Marca</clr-dg-column>
    <clr-dg-column class="table-header">Modelo</clr-dg-column>
    <clr-dg-column class="table-header">Representante</clr-dg-column>
    <clr-dg-row *ngFor="let repuesto of repuestos" (click)="selectRepuesto(repuesto)"
                [class.selectRepeusto]="repuesto === repuestoSeleccionado">
      <clr-dg-cell class="table-column">{{repuesto?.codigo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.descripcionArticulo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.precio}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.cantidadAdquirida}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.cantidadExistente}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.tipoEquipo?.tipo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.modeloEquipo?.marca}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.modeloEquipo?.modelo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.representante?.nombre}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{total}} Repuestos
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</form>

