<h2 class="form-repuesto-title">Repuestos</h2>
<!-- errors -->
<div class="alert alert-danger alert-sm" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon"
                  shape="exclamation-circle">
        </clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <a type="button" class="close" aria-label="Close"
     (click)="error = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </a>
</div>

<form clrForm>
  <div class="card">
    <br/>
    <!-- tipo/estado-->
    <div>
      <label class="clr-col-1 clr-align-self-end">Tipo:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-tipo" name="tipoId" [(ngModel)]="tipoId"
                (ngModelChange)="onSelectTipo()">
          <option>Filtrar por Tipo</option>
          <option *ngFor="let tipo of tipos"
                  value={{tipo.id}}>{{tipo.tipo}}
          </option>
        </select>
      </div>

      <label class="clr-col-1 clr-align-self-end">Estado Equipo:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-estado-equipo" name="estado" [(ngModel)]="estadoEquipo"
                (ngModelChange)="onSelectEstadoEquipo()">
          <option>Filtrar por Estado Equipo</option>
          <option value="Operativo">Operativo</option>
          <option value="Inoperativo">Inoperativo</option>
          <option value="Irreparable">Irreparable</option>
        </select>
      </div>
    </div>
    <br/>
    <!--      marca/modelo-->
    <div>
      <label class="clr-col-1 clr-align-self-end">Marca:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-marca" name="marcaId" [(ngModel)]="marcaId"
                (ngModelChange)="onSelectMarca()">
          <option>Filtrar por Marca</option>
          <option *ngFor="let marca of marcas"
                  value={{marca.id}}>{{marca.marca}}
          </option>
        </select>
      </div>

      <label class="clr-col-1 clr-align-self-end">Modelo:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-modelo" name="modeloId" [(ngModel)]="modeloId"
                (ngModelChange)="onSelectModelo()">
          <option>Filtrar por Modelo</option>
          <option *ngFor="let modelo of modelos"
                  value={{modelo.id}}>{{modelo.modelo}}
          </option>
        </select>
      </div>
      <a class="btn btn-sm btn-primary filtro-btn " (click)="filtrarRepuesto()">
        <clr-icon shape="search"></clr-icon>
      </a>
    </div>
    <br/><br/>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary" (click)="goNewRepuestoForm()">
        <clr-icon shape="plus"></clr-icon>
        Crear
      </button>
      <button type="button" class="btn btn-sm btn-success" *ngIf="selectedRepuesto != null"
              (click)="editRepuesto()">
        <clr-icon shape="pencil"></clr-icon>
        Editar
      </button>
      <button type="button" class="btn btn-sm btn-secondary" *ngIf="this.total > 0"
      (click)="exportToExcel()">
        <clr-icon shape="pencil"></clr-icon>
        Export
      </button>
    </div>
    <p-table [value]="repuestos" selectionMode="single" [(selection)]="selectedRepuesto" dataKey="numeroSerie"
             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
             currentPageReportTemplate="{first} - {last} de {totalRecords} equipos"
             [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th class="table-header">Código</th>
          <th class="table-header">Descripción</th>
          <th class="table-header">Precio</th>
          <th class="table-header">Cantidad Adquirida</th>
          <th class="table-header">Stock</th>
          <th class="table-header">Tipo</th>
          <th class="table-header">Marca</th>
          <th class="table-header">Modelo</th>
          <th class="table-header">Representante</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-repuesto>
        <tr [pSelectableRow]="repuesto">
          <td class="table-column text-center">{{repuesto?.codigo}}</td>
          <td class="table-column text-left">{{repuesto?.descripcionArticulo}}</td>
          <td class="table-column text-center">{{repuesto?.precio}}</td>
          <td class="table-column text-center">{{repuesto?.cantidadAdquirida}}</td>
          <td class="table-column text-center">{{repuesto?.cantidadExistente}}</td>
          <td class="table-column text-left">{{repuesto?.tipoEquipo?.tipo}}</td>
          <td class="table-column text-left">{{repuesto?.marca?.marca}}</td>
          <td class="table-column text-left">{{repuesto?.modelo?.modelo}}</td>
          <td class="table-column text-left">{{repuesto?.representante?.nombre}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>

