.form-edit-equipo-title {
    font-weight: bold;
    text-align: center;
}

.form-edit-equipo-label {
    font-weight: bold !important;
}

.col-label-equipo {
  text-align: right !important;
}

.col-btn-edit-equipo {
    margin-left: -18px !important;
}

>>> .ui-dropdown {
    border: 1px solid rgba(34, 36, 38, 0.50) !important;
    border-radius: 0 !important;
    border-image: initial !important;
    -webkit-appearance: menulist !important;
    width: 100% !important;
    height: 40px !important;
    display: block;
}

.tamanho-total {
  width: 100% !important;
}

.tamanho-medio{
  width: 50% !important;
}
