<h2 class="form-edit-equipo-title">Editar Equipo</h2>
<form class="compact" #equipoForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <!--columna izquierda-->
      <div class="col-xs-6">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3 ">
            <label class="form-edit-equipo-label required" for="serie">Nro. Serie:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="serie" required tabindex="1"
                   name="serie" [(ngModel)]="numeroSerie">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3 ">
            <label class="form-edit-equipo-label" for="lote">Nro. Lote:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="lote" tabindex="3"
                   name="lote" [(ngModel)]="numeroLote">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3 ">
            <label class="form-edit-equipo-label" for="costo">Costo:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="costo" tabindex="5"
                   name="costo" [(ngModel)]="costo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3 ">
            <label class="form-edit-equipo-label" for="fab">Fabricación:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" placeholder="yyyy"
                   id="fab" name="fab" tabindex="7"
                   [(ngModel)]="fechaFabricacion">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3">
            <label class="form-edit-equipo-label" for="descripcion">Descripción:</label>
          </div>
          <div class="col-xs-7">
            <textarea class="form-control" id="descripcion" rows="3" tabindex="9"
                      name="descripcion" [(ngModel)]="descripcionEquipo">
            </textarea>
          </div>
        </div>
      </div>

      <!--columna derecha-->
      <div class="col-xs-6">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 ">
            <label class="form-edit-equipo-label" for="patrimonial">Nro. Patrimonial:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" id="patrimonial" tabindex="2"
                   name="patrimonial" [(ngModel)]="numeroPatrimonial">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4">
            <label class="form-edit-equipo-label">Estado:</label>
          </div>
          <div class="col-xs-5">
            <div class="select form-control">
              <select class="select-form-edit-equipo" id="estado" #selectedEstado
                      name="estado" tabindex="4"
                      [(ngModel)]="estado"
                      (change)="onSelectedEstado(selectedEstado.value)">
                <option>Operativo</option>
                <option>Inoperativo</option>
                <option>Irreparable</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 ">
            <label class="form-edit-equipo-label">Fecha Compra:</label>
          </div>
          <div class="col-xs-5">
            <p-calendar [(ngModel)]="fechaCompra" dateFormat="dd-mm-yy"
                        [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="2000:2030" name="fcompra">
            </p-calendar>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4">
            <label class="form-edit-equipo-label">Vto. Garantia:</label>
          </div>
          <div class="col-xs-5">
            <p-calendar [(ngModel)]="fechaVenGarantia" dateFormat="dd-mm-yy"
                        [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="2000:2030" name=" fgarantia">
            </p-calendar>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 ">
            <label class="form-edit-equipo-label">Puesta en Marcha:</label>
          </div>
          <div class="col-xs-5">
            <p-calendar [(ngModel)]="fechaInstalacion" dateFormat="dd-mm-yy"
                        [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="2000:2030"  name="finstalacion">
            </p-calendar>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 ">
            <label class="form-edit-equipo-label" for="version">Version Software:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" id="version" tabindex="11"
                   name="version" [(ngModel)]="versionSw">
          </div>
        </div>

        <!--        <div class="form-group row flex-items-xs-left">-->
        <!--          <div class="col-xs-4 ">-->
        <!--            <label class="form-edit-equipo-label" for="licitacion">Nro. Licitacion Compra:</label>-->
        <!--          </div>-->
        <!--          <div class="col-xs-5">-->
        <!--            <input class="form-control" id="licitacion"-->
        <!--                   name="licitacion" [(ngModel)]="licitacionCompra">-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>

    <br>
    <div class="col-xs-8">
      <div class="form-group row flex-items-xs-left">
        <div class="col-xs-2">
          <label class="form-edit-equipo-label required">Tipo:</label>
        </div>
        <div class="col-xs-6">
          <div class="select form-control">
            <select clrSelect name="tipo" [(ngModel)]="tipoId"
                    (ngModelChange)="onSlectedTipo()">
              <option>Agregar Tipo</option>
              <option *ngFor="let tipo of tipos"
                      value={{tipo.id}}>{{tipo.tipo}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="tipoId == 'Agregar Tipo'">
          <button class=" btn btn-sm btn-success"
                  (click)="addNewTipoEquipo()">
            <clr-icon shape="plus"></clr-icon>
            Add
          </button>
        </div>

        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="tipoId != 'Agregar Tipo'">
          <button class=" btn btn-sm btn-success"
                  (click)="editTipoEquipo()">
            <clr-icon shape="pencil"></clr-icon>
            Edit
          </button>
        </div>
      </div>

      <div class="form-group row flex-items-xs-left">
        <div class="col-xs-2">
          <label class="form-edit-equipo-label required">Modelo:</label>
        </div>
        <div class="col-xs-6">
          <div class="select form-control">
            <select clrSelect name="modelo" [(ngModel)]="modeloId"
                    (ngModelChange)="onSlectedModelo()">
              <option>Agregar Modelo</option>
              <option *ngFor="let modelo of modelos"
                      value={{modelo.id}}>{{modelo.modelo}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="modeloId == 'Agregar Modelo'">
          <button class=" btn btn-sm btn-success"
                  (click)="addNewModeloEquipo()">
            <clr-icon shape="plus"></clr-icon>
            Add
          </button>
        </div>

        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="modeloId != 'Agregar Modelo'">
          <button class=" btn btn-sm btn-success"
                  (click)="editModeloEquipo()">
            <clr-icon shape="pencil"></clr-icon>
            Edit
          </button>
        </div>
      </div>

      <div class="form-group row flex-items-xs-left">
        <div class="col-xs-2">
          <label class="form-edit-equipo-label required">Representante:</label>
        </div>

        <div class="col-xs-6">
          <div class="select form-control">
            <select clrSelect name="representante" [(ngModel)]="repreId"
                    (ngModelChange)="onSlectedRepresentante()">
              <option>Agregar Representante</option>
              <option *ngFor="let repre of representantes"
                      value={{repre.id}}>{{repre.nombre}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="repreId == 'Agregar Representante'">
          <button class="btn btn-sm btn-success"
                  (click)="addNewRepresentante()">
            <clr-icon shape="user"></clr-icon>
            Add
          </button>
        </div>
        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="repreId != 'Agregar Representante'">
          <button class="btn btn-sm btn-success"
                  (click)="editRepresentante()">
            <clr-icon shape="user"></clr-icon>
            Edit
          </button>
        </div>
      </div>

      <div class="form-group row flex-items-xs-left">
        <div class="col-xs-2">
          <label class="form-edit-equipo-label">Ubicación:</label>
        </div>
        <div class="col-xs-6">
          <div class="select form-control">
            <select clrSelect name="ubicacion" [(ngModel)]="ubicacionId"
                    (ngModelChange)="onSlectedUbicacion()">
              <option>Agregar Ubicación</option>
              <option *ngFor="let ubicacion of ubicaciones"
                      value={{ubicacion.id}}>{{ubicacion.servicio}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="ubicacionId == 'Agregar Ubicación'">
          <button class=" btn btn-sm btn-success"
                  (click)="addNewUbicacionEquipo()">
            <clr-icon shape="plus"></clr-icon>
            Add
          </button>
        </div>

        <div class="col-xs-1 col-btn-edit-equipo" *ngIf="ubicacionId != 'Agregar Ubicación'">
          <button class="btn btn-sm btn-success"
                  (click)="editUbicacionEquipo()">
            <clr-icon shape="user"></clr-icon>
            Edit
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(equipoForm.form.invalid )"
            (click)="onSaveEquipo()">
      <clr-icon shape="floppy"></clr-icon>
      Guardar
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
  </section>
</form>

<!--Modal para agregar o editar los datos de un representante-->
<app-representante *ngIf="modalAddEditRepreOpen"
                   [representante]="repreSeleccionado"
                   [isEditRepre]="isEditRepre"
                   (representanteToUpdate)="closeRepresentanteModal($event)"
                   (cancelAddEditRepre)="closeRepresentanteModal($event)">
</app-representante>


<!--Modal para agregar o editar los datos del tipo del equipo -->
<app-tipo-equipo *ngIf="modalAddEditTipoOpen"
                 [tipoEquipo]="tipoSeleccionado"
                 [isEditTipo]="isEditRepre"
                 (tipoEquipoToUpdate)="closeTipoEquipoModal($event)"
                 (cancelAddEditTipo)="closeTipoEquipoModal($event)">
</app-tipo-equipo>


<!--Modal para agregar o editar los datos del modelo del equipo -->
<app-modelo-equipo *ngIf="modalAddEditModeloOpen"
                   [modeloEquipo]="modeloSeleccionado"
                   [isEditModelo]="isEditRepre"
                   (modeloEquipoToUpdate)="closeModeloEquipoModal($event)"
                   (cancelAddEditModelo)="closeModeloEquipoModal($event)">
</app-modelo-equipo>

<!--Modal para agregar o editar los datos de la ubicación del equipo -->
<app-ubicacion *ngIf="modalAddEditUbiOpen"
               [ubicacion]="ubicacionSeleccionada"
               [isEditUbicacion]="isEditUbicacion"
               (ubicacionToUpdate)="closeUbicaionModal($event)"
               (cancelAddEditUbicacion)="closeUbicaionModal($event)">
</app-ubicacion>
