.form-order-trabajo-label {
  font-weight: bold !important;
}

.form-order-trabajo-title{
  font-weight: bold !important;
  text-align: center;
}

.form-order-trabajo-sub-title{
  font-weight: bold !important;
  text-align: left;
}

.select .select-form-orden-trab {
  border: 1px solid rgba(34, 36, 38, 0.50) !important;
  border-radius: 0 !important;
  border-image: initial !important;
  -webkit-appearance: menulist !important;
  align-items: center !important;
  background-color: white !important;
  cursor: default;
  background: linear-gradient(to bottom, transparent 95%, #0094d2 95%) no-repeat;
  height: 30px !important;
  margin-left: 1% !important;
  width: 100% !important;
  display: block;
}


.col-btn-buscar-solicitud {
  margin-top: -6px !important;
}

