.form-informe-label {
  font-weight: bold !important;
}

.form-informe-title{
  text-align: center;
  font-weight: bold !important;
}

.form-informe-sub-title{
  font-weight: bold !important;
  text-align: left;
}

.column-width{
  width: 26% !important
}

.tamanho-total {
  width: 100% !important;
}

.tamanho-medio{
  width: 50% !important;
}

.label-input {
  font-weight: bold !important;
  color: #454545 !important;
}

@media print {
  .content-no-print {
    display: none;
  }
}
