<h2 class="form-add-edit-sol-repuesto-title">Crear Solicitud de Repuestos</h2>

<form clrForm #repuestoForm="ngForm">
  <div class="clr-col-6">
  <clr-input-container>
    <label>Estado:</label>
    <input clrInput type="text" [(ngModel)]="estado" name="estado" required/>
    <clr-control-error>El campo es obligatorio</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Fecha:</label>
    <input clrInput type="date" [(ngModel)]="fechaSolicitud" name="fechaSolicitud"
           min="1990-01-01" max="2050-12-31"/>
  </clr-input-container>
  </div>
  <br/>
  <h5 class="form-add-edit-sol-repuesto-sub-title">Repuestos</h5>
  <div class="card">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary"
              (click)="addNewRepuesto()">
        <clr-icon shape="plus"></clr-icon>
        Agregar
      </button>
    </div>

    <p-table [value]="solicitudRepuestoDetalles">
      <ng-template pTemplate="header">
        <tr>
          <th class="table-header">Código</th>
          <th class="table-header">Descripción</th>
          <th class="table-header">Tipo</th>
          <th class="table-header">Marca</th>
          <th class="table-header">Modelo</th>
          <th class="table-header">Representante</th>
          <th class="table-header">Precio</th>
          <th class="table-header">Cantidad Solicitada</th>
          <th style="width:4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detalle>
        <tr>
          <td class="table-column" style="text-align: center">{{detalle.repuesto?.codigo}}</td>
          <td class="table-column">{{detalle.repuesto?.descripcionArticulo}}</td>
          <td class="table-column">{{detalle.repuesto?.tipoEquipo?.tipo}}</td>
          <td class="table-column">{{detalle.repuesto?.marca.marca}}</td>
          <td class="table-column">{{detalle.repuesto?.modelo.modelo}}</td>
          <td class="table-column">{{detalle.repuesto?.representante?.nombre}}</td>
          <td class="table-column " style="text-align: right">{{detalle.repuesto?.precio}}</td>
          <td class="table-column" style="text-align: center">{{detalle.cantidadSolicitad}}</td>
          <td>
            <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-success" (click)="editRepuesto(detalle)"></button>
            <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="eliminarDetalleRepuesto(detalle)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <br/><br/>
  <div class="clr-row clr-justify-content-start">
    <button class="btn btn-sm btn-success"
            [disabled]="(repuestoForm.form.invalid )"
            (click)="onSaveSolicitudRepuesto()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </button>
  </div>
</form>

<!--Modal para agregar o editar los datos de un repuesto-->
<app-solicitud-repuesto-detalle *ngIf="modalAddEditDetalleOpen"
                                [solicitudRepuestoDetalle]="detalleSeleccionado"
                                [isEditRepuesto]="isEditDetalle"
                                [isAtenderOT]="false"
                                (detalleRepuestoToUpdate)="closeRepuestoModal($event)"
                                (cancelAddEditRepuesto)="closeRepuestoModal($event)">
</app-solicitud-repuesto-detalle>
