.form-add-edit-sol-repuesto-title{
  font-weight: bold;
  text-align: center;
}

.form-add-edit-sol-repuesto-sub-title{
  font-weight: bold;
  text-align: left;
}

.form-add-edit-sol-repuesto-label {
  font-weight: bold !important;
}

.table-header {
  font-size: 13px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  text-align: center !important;
}

.table-column {
  font-size: 12px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.cod-cant-field {
  min-width: 5% !important;
  width: 5% !important;
}
