<form class=" compact">
  <h2 class="form-repuesto-title">Solicitud de Repuestos</h2>
  <section>
    <div class="form-group row flex-items-xs-left">
      <button class="btn btn-sm btn-success"
              (click)="addSolicitudRepuesto()">
        <clr-icon shape="plus"></clr-icon>
        Crear
      </button>
      <button class="btn btn-sm btn-success"
              *ngIf="selectedRepuesto"
              (click)="editSolicitudRepuesto()">
        <clr-icon shape="pencil"></clr-icon>
        Editar
      </button>
    </div>

    <!-- errors -->
    <div class="alert alert-danger alert-sm" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon"
                      shape="exclamation-circle">
            </clr-icon>
          </div>
          <span class="alert-text">{{errorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close"
              (click)="error = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>

    <clr-datagrid>
      <clr-dg-column class="table-header cod-cant-field">ID</clr-dg-column>
      <clr-dg-column class="table-header">Estado</clr-dg-column>
      <clr-dg-column class="table-header" >Repuestos</clr-dg-column>
      <clr-dg-column class="table-header">Fecha</clr-dg-column>

      <clr-dg-row *ngFor="let solicitud of solicitudRepuestos"
                  (click)="selectSolicitudRepuesto(solicitud)"
                  [class.selectRepuesto]="solicitud === selectedRepuesto">
        <clr-dg-cell class="table-column cod-cant-field">{{solicitud.id}}</clr-dg-cell>
        <clr-dg-cell class="table-column">{{solicitud.estado}}</clr-dg-cell>
        <clr-dg-cell class="table-column">
          <ul class="list-unstyled" *ngFor="let detalle of solicitud.solicitudRepuestoDetalles">
            <li>{{detalle.repuesto.codigo}} {{detalle.repuesto.descripcionArticulo}}
              {{detalle.repuesto.tipoEquipo?.tipo}} {{detalle.repuesto.modeloEquipo?.modelo}}
              {{detalle.repuesto.modeloEquipo?.marca}}</li>
          </ul>
        </clr-dg-cell>
        <clr-dg-cell class="table-column">{{solicitud.fechaSolicitud}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{total}} Solicitudes
        <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </section>
</form>
