.form-mantenimiento-title{
  font-weight: bold !important;
  text-align: center;
}

.form-mantenimiento-label {
  font-weight: bold !important;
}

.form-mantenimiento-sub-title{
  font-weight: bold !important;
  text-align: left;
}

.col-label-equipo {
  text-align: right !important;
}
