.form-mantenimiento-title{
  font-weight: bold !important;
  text-align: center;
}

.form-mantenimiento-label {
  font-weight: bold !important;
}

.form-mantenimiento-sub-title{
  font-weight: bold !important;
  text-align: left;
}

.col-label-equipo {
  text-align: right !important;
}

.table-header {
  font-size: 13px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  text-align: center !important;
}

.table-column {
  font-size: 12px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.cod-cant-field {
  min-width: 5% !important;
  width: 5% !important;
}
