.form-add-equipo-title {
  font-weight: bold;
  text-align: center;
}

.form-add-equipo-label {
  font-weight: bold !important;
}

.col-label-equipo {
  text-align: right !important;
}

.col-btn-add-equipo {
  margin-left: -18px !important;
}

>>> .ui-dropdown {
  width: 100% !important;
  height: 30px !important;
}

>>> .ui-dropdown .ui-dropdown-label {
  display: contents !important;
  border: 1px solid rgba(34, 36, 38, 0.50) !important;
}

.tamanho-total {
  width: 100% !important;
}

.tamanho-medio{
  width: 50% !important;
}
