.form-add-edit-contrato-label {
  font-weight: bold;
}

.form-add-edit-contrato-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.form-add-edit-contrato-btn-select-equipo {
  position: absolute;
  right: 0%;
  left: 1%;
  top: -16%;
}

.selectEquipo {
  background-color: darkgrey !important;
}
