<h3 class="form-equipo-title">Equipos</h3>
<form clrForm>
  <div class="card">
    <br/>
    <!--      tipo/ubicacion-->
    <div>
      <label class="clr-col-1 clr-align-self-end">Tipo:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-tipo" name="tipoId" [(ngModel)]="tipoId"
                (ngModelChange)="onSelectTipo()">
          <option>Filtrar por Tipo</option>
          <option *ngFor="let tipo of tipos"
                  value={{tipo.id}}>{{tipo.tipo}}
          </option>
        </select>
      </div>

      <label class="clr-col-1 clr-align-self-end">Ubicacion:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-ubi" name="selectUbi"
                [(ngModel)]="ubicacionId"
                (change)="onSelectUbicacion()">
          <option>Filtrar por Ubicacion</option>
          <option *ngFor="let ubicacion of ubicaciones"
                  value={{ubicacion.id}}>{{ubicacion.servicio}}
          </option>
        </select>
      </div>

      <!-- estado equipo-->
      <label class="clr-col-1 clr-align-self-end">Estado Equipo:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-estado-equipo" name="estado" [(ngModel)]="estadoEquipo"
                (ngModelChange)="onSelectEstado()">
          <option>Filtrar por Estado Equipo</option>
          <option value="Operativo">Operativo</option>
          <option value="Inoperativo">Inoperativo</option>
          <option value="Irreparable">Irreparable</option>
        </select>
      </div>
    </div>
    <br/>
    <!--      marca/modelo-->
    <div>
      <label class="clr-col-1 clr-align-self-end">Marca:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-marca" name="marcaId" [(ngModel)]="marcaId"
                (ngModelChange)="onSelectMarca()">
          <option>Filtrar por Marca</option>
          <option *ngFor="let marca of marcas"
                  value={{marca.id}}>{{marca.marca}}
          </option>
        </select>
      </div>

      <label class="clr-col-1 clr-align-self-end">Modelo:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-modelo" name="modeloId" [(ngModel)]="modeloId"
                (ngModelChange)="onSelectModelo()">
          <option>Filtrar por Modelo</option>
          <option *ngFor="let modelo of modelos"
                  value={{modelo.id}}>{{modelo.modelo}}
          </option>
        </select>
      </div>

      <!-- estado contrato-->
      <label class="clr-col-1 clr-align-self-end">Estado Contrato:</label>
      <div class="clr-select-wrapper">
        <select class="clr-select" id="select-estado-contrato" name="estadoContrato"
                [(ngModel)]="estadoContrato"
                (change)="onSelectEstadoContrado()">
          <option>Filtrar por Estado Contrato</option>
          <option *ngFor="let estado of estadosContrato"
                  value={{estado.nombre}}>{{estado.nombre}}
          </option>
        </select>
      </div>

      <a class="btn btn-sm btn-primary filtro-btn " (click)="filtrarEquipo()">
        <clr-icon shape="search"></clr-icon>
      </a>
    </div>
    <br/>
    <br/>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary" (click)="addEquipo()">
        <clr-icon shape="plus"></clr-icon>
        Crear
      </button>
      <button type="button" class="btn btn-sm btn-success" *ngIf="selectedEquipo != null"
              (click)="editEquipo()">
        <clr-icon shape="pencil"></clr-icon>
        Editar
      </button>
      <button type="button" class="btn btn-sm btn-secondary" *ngIf="equipos.length > 0"
              (click)="exportToExcel()">
        <clr-icon shape="pencil"></clr-icon>
        Export
      </button>
    </div>
    <p-table [value]="equipos" selectionMode="single" [(selection)]="selectedEquipo" dataKey="numeroSerie"
             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
             currentPageReportTemplate="{first} - {last} de {totalRecords} equipos"
             [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th class="table-header">Tipo</th>
          <th class="table-header">Marca</th>
          <th class="table-header">Modelo</th>
          <th class="table-header">Nro. Serie</th>
          <th class="table-header">Nro. Patrimonial</th>
          <th class="table-header">Ubicación</th>
          <th class="table-header">Estado del Equipo</th>
          <th class="table-header">Estado del Contrato</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-equipo>
        <tr [pSelectableRow]="equipo">
          <td class="table-column text-left">{{equipo.tipoEquipo?.tipo}}</td>
          <td class="table-column text-left">{{equipo.marca?.marca}}</td>
          <td class="table-column text-left">{{equipo.modelo?.modelo}}</td>
          <td class="table-column text-center">{{equipo.numeroSerie}}</td>
          <td class="table-column text-center">{{equipo.numeroPatrimonial}}</td>
          <td class="table-column text-center">{{equipo.ubicacion? 'bloque:' + equipo.ubicacion.bloque : ""}}
           {{equipo.ubicacion? ' sala:' + equipo.ubicacion.numeroSala  : ""}}
            {{equipo.ubicacion? ' nivel:' + equipo.ubicacion.nivel: ""}}</td>
          <td class="table-column text-center">{{equipo.estado}}</td>
          <td class="table-column text-center">{{equipo.contrato? equipo.contrato.estadoContrato: 'Sin contrato'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
