.form-equipo-title {
  font-weight: bold;
  text-align: center;
}

.form-filter-label {
  font-weight: bold;
  text-align: left;
}

pre {
  border: 0 solid #ccc !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.filtro-btn {
  margin-left: 2% !important;
}

.table-header {
  font-size: 13px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  text-align: center !important;
}

.table-column {
  font-size: 12px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

>>> .p-component {
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 0.7rem !important;
}

>>> .p-inputtext {
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 0.7rem !important;
}

>>> .p-link {
  font-size: 0.7rem !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}
