<form class="clr-form clr-form-compact">
  <h2 class="form-equipo-title">Equipos</h2>
  <br>
  <!--info action-->
  <div class="alert alert-info alert-sm" *ngIf="info">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="check-circle">
          </clr-icon>
        </div>
        <span class="alert-text">
            {{ infoMessage }}
          </span>
      </div>
    </div>
  </div>

  <!-- errors -->
  <div class="alert alert-danger alert-sm" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="exclamation-circle">
          </clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close"
            (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
  <br>
  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-action-bar>
      <div class="clr-row clr-justify-content-start clr-col-12">
        <div class="clr-col-4">
          <div class="form-group row flex-items-xs-center">
            <div class="col-3">
              <label class="form-filter-label">Tipo:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-equipo" id="selectTipo" #selectedTipo name="selectTipo"
                        [(ngModel)]="tipoId">
                  <option>Filtrar por Tipo</option>
                  <option *ngFor="let tipo of tipos"
                          value={{tipo.id}}>{{tipo.tipo}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row flex-items-xs-center">
            <div class="col-3">
              <label class="form-filter-label">Marca/Modelo:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-equipo" id="selectModelo" #selectedModelo
                        name="selectModelo" [(ngModel)]="modeloId">
                  <option>Filtrar por Marca/Modelo</option>
                  <option *ngFor="let modelo of modelos"
                          value={{modelo.id}}>{{modelo.marca}}/{{modelo.modelo}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row flex-items-xs-center">
            <div class="col-2">
              <label class="form-filter-label">Ubicación:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-equipo" id="selectUbi" #selectedUbi name="selectUbi"
                        [(ngModel)]="ubicacionId">
                  <option>Filtrar por Ubicacion</option>
                  <option *ngFor="let ubicacion of ubicaciones"
                          value={{ubicacion.id}}>{{ubicacion.servicio}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-col-5">
          <div class="form-group row flex-items-xs-center">
            <div class="col-3">
              <label class="form-filter-label">Estado Equipo:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-equipo" id="estadoEquipo" #selectedEstadoEquipo
                        name="estadoEquipo" [(ngModel)]="estadoEquipo"
                        (change)="onSelectedEstado(selectedEstadoEquipo.value)">
                  <option disabled>Filtrar por Estado Equipo</option>
                  <option>Operativo</option>
                  <option>Inoperativo</option>
                  <option>Irreparable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row flex-items-xs-center">
            <div class="col-4">
              <label class="form-filter-label">Estado Contrato:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-equipo" id="estadoContrato" #selectEstadoContrato name="estadoContrato"
                        [(ngModel)]="estadoContrato"
                        (change)="onSelectedEstadoContrado(selectEstadoContrato.value)">
                  <option>Filtrar por Estado Contrato</option>
                  <option *ngFor="let estado of estadosContrato"
                          value={{estado.nombre}}>{{estado.nombre}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-col-2">
          <a class="btn btn-sm btn-primary" (click)="filtrarEquipo()">
            <clr-icon shape="search"></clr-icon>
          </a>
        </div>
        <div class="clr-col-12">
          <div class="clr-form-control clr-row">
            <a class="btn btn-sm btn-success"
               (click)="addEquipo()">
              <clr-icon shape="plus"></clr-icon>
              Crear
            </a>
            <a class="btn btn-sm btn-success"
               *ngIf="selectedEquipo != null"
               (click)="editEquipo()">
              <clr-icon shape="pencil"></clr-icon>
              Editar
            </a>
          </div>
        </div>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column class="table-header">Tipo</clr-dg-column>
    <clr-dg-column class="table-header">Marca</clr-dg-column>
    <clr-dg-column class="table-header">Modelo</clr-dg-column>
    <clr-dg-column class="table-header">Nro. Serie</clr-dg-column>
    <clr-dg-column class="table-header">Nro. Patrimonial</clr-dg-column>
    <clr-dg-column class="table-header">Ubicación</clr-dg-column>
    <clr-dg-column class="table-header">Estado del Equipo</clr-dg-column>
    <clr-dg-column class="table-header">Estado del Contrato</clr-dg-column>

    <clr-dg-row *ngFor="let equipo of equipos" (click)="selectEquipo(equipo)"
                [class.selectEquipo]="equipo === selectedEquipo">
      <clr-dg-cell class="table-column">{{equipo.tipoEquipo?.tipo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.modeloEquipo?.marca}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.modeloEquipo?.modelo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.numeroSerie}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.numeroPatrimonial}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.ubicacion?.bloque}},
        {{equipo.ubicacion?.numeroSala}}, {{equipo.ubicacion?.nivel}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.estado}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.contrato?.estadoContrato}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{total}} Equipos
      <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</form>

