.form-equipo-title {
  font-weight: bold;
  text-align: center;
}

.selectEquipo {
  background-color: darkgrey !important;
  cursor: pointer !important;
}

pre {
  border: 0px solid #ccc !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}
