.form-add-contrato-label {
  font-weight: bold !important;
}

.form-add-contrato-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.form-add-contrato-btn-select-equipo {
  position: absolute;
  right: 0;
  left: 1%;
  top: -16%;
}

.selectEquipo {
  background-color: darkgrey !important;
}

.col-label-add-contrato {
  text-align: right !important;
}

.btn-add-representante {
  margin-top: -1% !important;
}
