<h3 class="form-add-contrato-title">Crear Contrato</h3>

<!-- errors -->
<div class="alert alert-danger alert-sm" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon"
                  shape="exclamation-circle">
        </clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close"
          (click)="error = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<form clrForm #contratoForm="ngForm">
  <div class="clr-row clr-justify-content-start">
    <!--columna izquierda-->
    <div class="clr-col-6">
      <clr-input-container>
        <label>ID:</label>
        <input clrInput type="text" [(ngModel)]="contratoId" name="contratoId" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label>Tipo de Contrato:</label>
        <select clrSelect name="tipo" [(ngModel)]="tipoContrato"
                (ngModelChange)="onSelectTipoContrato()" required>
          <option *ngFor="let tipo of tiposContrato"
                  value={{tipo.nombre}}>{{tipo.nombre}}
          </option>
        </select>
      </clr-select-container>

      <clr-input-container>
        <label>Tipo Procedimiento:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" [(ngModel)]="tipoProcedimiento"
               name="tipoProcedimiento" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Convocante:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" [(ngModel)]="convocante" name="convocante"/>
      </clr-input-container>

      <clr-textarea-container>
        <label>Nombre Licitación:</label>
        <textarea class="tamanho-total clr-col-6" clrTextarea [(ngModel)]="nombreLicitacion" name="nombreLicitacion"
                  required></textarea>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-textarea-container>

    </div>

    <!--columna derecha-->
    <div class="clr-col-6">
      <clr-input-container>
        <label>Nro. Contrato:</label>
        <input clrInput type="text" [(ngModel)]="numeroContrato" name="numeroContrato"/>
      </clr-input-container>

      <clr-input-container>
        <label>Nro Procedimiento:</label>
        <input clrInput type="text" [(ngModel)]="numeroProcedimiento" name="numeroProcedimiento"/>
      </clr-input-container>

      <clr-select-container>
        <label>Estado:</label>
        <select clrSelect name="estado" [(ngModel)]="estadoContrato" required>
          <option *ngFor="let estado of estadosContrato"
                  value={{estado.nombre}}>{{estado.nombre}}
          </option>
        </select>
      </clr-select-container>

      <clr-input-container>
        <label>Fecha Inicio:</label>
        <input clrInput type="date" [(ngModel)]="fechaInicio" name="fechaInicio"
               min="1990-01-01" max="2050-12-31"/>
      </clr-input-container>

      <clr-input-container>
        <label>Finalización:</label>
        <input clrInput type="date" [(ngModel)]="fechaFin" name="fechaFin"
               min="1990-01-01" max="2050-12-31"/>
      </clr-input-container>
    </div>
  </div>
  <br/><br/>

  <div class="clr-row clr-justify-content-start">
    <label class="clr-col-1 clr-align-self-end form-add-equipo-label">Equipo:</label>
    <div class="clr-col-3 clr-align-self-end">
      <select class="tamanho-total" name="equipoId" [(ngModel)]="equipoId"
              (ngModelChange)="onSelectedEquipo()">
        <option>Seleccionar Equipo</option>
        <option *ngFor="let equipo of equipos"
                value={{equipo.id}}>{{equipo?.numeroSerie}}- {{equipo?.descripcionEquipo}} - {{equipo.tipoEquipo?.tipo}}
          -{{equipo.marca?.marca}}-{{equipo.modelo?.modelo}}
        </option>
      </select>
    </div>

    <div class="clr-col-1">
      <button class=" btn btn-sm btn-success clr-align-self-end btn-add-equipo"
              (click)="addEquipo()" [disabled]="equipoId == 'Seleccionar Equipo' ">
        <clr-icon shape="add"></clr-icon>
        Add
      </button>
    </div>
  </div>
  <br/>
  <!--  lista equipos-->

  <clr-datagrid>
    <clr-dg-action-bar>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-warning" [disabled]="!isSelectedEquipo"
                (click)="onDeleteEquipo()">
          <clr-icon shape="trash"></clr-icon>
          Delete
        </button>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column class="table-header">Tipo</clr-dg-column>
    <clr-dg-column class="table-header">Marca</clr-dg-column>
    <clr-dg-column class="table-header">Modelo</clr-dg-column>
    <clr-dg-column class="table-header">Nro. Serie</clr-dg-column>
    <clr-dg-column class="table-header">Nro. Patrimonial</clr-dg-column>
    <clr-dg-column class="table-header">Ubicación</clr-dg-column>
    <clr-dg-column class="table-header">Estado del Equipo</clr-dg-column>

    <clr-dg-row *ngFor="let equipo of selectedEquipos"
                (click)="onSelectEquipo(equipo)"
                [class.selectEquipo]="equipo === selectedEquipo">
      <clr-dg-cell class="table-column">{{equipo.tipoEquipo?.tipo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.marca?.marca}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.modelo?.modelo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.numeroSerie}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.numeroPatrimonial}}</clr-dg-cell>
      <clr-dg-cell class="table-column">
        {{equipo.ubicacion? 'bloque:' + equipo.ubicacion.bloque : ""}}
        {{equipo.ubicacion? ' sala:' + equipo.ubicacion.numeroSala  : ""}}
        {{equipo.ubicacion? ' nivel:' + equipo.ubicacion.nivel: ""}}
      </clr-dg-cell>
      <clr-dg-cell class="table-column">{{equipo.estado}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>

  <br/><br/>
  <div class="clr-row clr-justify-content-start" *ngIf="isTipoMantenimiento">
    <label class="clr-col-1 clr-align-self-end form-add-equipo-label">Repuesto:</label>
    <div class="clr-col-3 clr-align-self-end">
      <select class="tamanho-total" name="repuestoId" [(ngModel)]="repuestoId"
              (ngModelChange)="onSelectedRepuesto()">
        <option>Seleccionar Repuesto</option>
        <option *ngFor="let repuesto of repuestos"
                value={{repuesto.id}}>{{repuesto?.codigo}}- {{repuesto?.descripcionArticulo}} - {{repuesto.tipoEquipo?.tipo}}
          -{{repuesto.marca?.marca}}-{{repuesto.modelo?.modelo}}
        </option>
      </select>
    </div>

    <div class="clr-col-1" *ngIf="isTipoMantenimiento">
      <button class=" btn btn-sm btn-success clr-align-self-end btn-add-equipo"
              (click)="addRepuesto()" [disabled]="repuestoId == 'Seleccionar Repuesto' ">
        <clr-icon shape="add"></clr-icon>
        Add
      </button>
    </div>
  </div>
  <br/>
  <!--  lista repuestos-->

  <clr-datagrid *ngIf="isTipoMantenimiento">
    <clr-dg-action-bar>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-warning" [disabled]="!isSelectedRepuesto"
                (click)="onDeleteRepuesto()">
          <clr-icon shape="trash"></clr-icon>
          Delete
        </button>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column class="table-header">Tipo</clr-dg-column>
    <clr-dg-column class="table-header">Marca</clr-dg-column>
    <clr-dg-column class="table-header">Modelo</clr-dg-column>
    <clr-dg-column class="table-header">Representante</clr-dg-column>
    <clr-dg-column class="table-header">Código</clr-dg-column>
    <clr-dg-column class="table-header">Descripción</clr-dg-column>
    <clr-dg-column class="table-header">Precio</clr-dg-column>
    <clr-dg-column class="table-header">Cantidad Adquirida</clr-dg-column>
    <clr-dg-column class="table-header">Stock</clr-dg-column>

    <clr-dg-row *ngFor="let repuesto of selectedRepuestos"
                (click)="onSelectRepuesto(repuesto)"
                [class.selectedRepuesto]="repuesto === selectedRepuesto">
      <clr-dg-cell class="table-column">{{repuesto?.tipoEquipo?.tipo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.marca?.marca}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.modelo?.modelo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.representante?.nombre}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.codigo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.descripcionArticulo}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto?.precio}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto.cantidadAdquirida}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{repuesto.cantidadExistente}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>

  <br/><br/>
  <div class="clr-row clr-justify-content-start">
    <button class="btn btn-sm btn-success"
            [disabled]="(contratoForm.form.invalid )"
            (click)="onSaveContrato()">
      <clr-icon shape="floppy"></clr-icon>
      Guardar
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
  </div>
</form>
