<!--Modal para agregar o editar los datos del tipo del equipo -->
<clr-modal [(clrModalOpen)]="modalTipoOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-tipo-equipo-title">{{modalTipoTitle}}</h3>
  <div class="modal-body">
    <form clrForm #tipoEquipoForm="ngForm">
      <clr-input-container>
        <label class="clr-col-5">Tipo:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="tipo" name="tipo" required />
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Código de ECRI/UMDNS:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="codigoECRIUMDNS" name="codigoECRIUMDNS" />
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Clase:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="clase" name="clase" />
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">MP/año:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="mpano" name="mpano" />
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Seccion a Cargo:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="personalACargo" name="personalACargo" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline btn-sm" type="button"
            (click)="onCancelAddEditTipoEquipo()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
    <button class="btn btn-success btn-sm" type="button"
            (click)="addTipoEquipo()"
            [disabled]="(tipoEquipoForm.form.invalid)">
      <clr-icon shape="check"></clr-icon>
      {{btnTitle}}
    </button>
  </div>
</clr-modal>
