<form class=" compact">
  <h2 class="form-orden-trabajo-title">Orden de Trabajo</h2>
  <section>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <button class="btn btn-sm btn-success"
                (click)="crearOrdenTrabajo()">
          <clr-icon shape="plus"></clr-icon>
          Crear
        </button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-sm btn-success"
                *ngIf="SelectedOrdenTrabajo"
                (click)="editarOrdenTrabajo()">
          <clr-icon shape="pencil"></clr-icon>
          Editar
        </button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-sm btn-primary"
                *ngIf="SelectedOrdenTrabajo"
                (click)="atenderOrdenTrabajo()">
          <clr-icon shape="check"></clr-icon>
          Atender
        </button>
      </div>
    </div>
    <!--success action-->
    <div class="alert alert-success alert-sm" *ngIf="success">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon"
                      shape="check-circle">
            </clr-icon>
          </div>
          <span class="alert-text">
            {{ successMessage }}
          </span>
        </div>
      </div>
    </div>

    <!-- errors -->
    <div class="alert alert-danger alert-sm" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon"
                      shape="exclamation-circle">
            </clr-icon>
          </div>
          <span class="alert-text">{{errorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close"
              (click)="error = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
    <!--lista de orden-trabajo-->
    <clr-datagrid [clrDgLoading]="loading">
      <clr-dg-column [clrDgSortBy]="'fecha'">Fecha Creación</clr-dg-column>
      <clr-dg-column>Estado</clr-dg-column>
      <clr-dg-column>Tipo de Mantenimiento</clr-dg-column>
      <clr-dg-column>Diagnostico</clr-dg-column>
      <clr-dg-column>Equipo</clr-dg-column>
      <clr-dg-placeholder>
        <div *ngIf="ordenTrabajoList && ordenTrabajoList.length === 0">
          No existen datos para la orden de trabajo
        </div>
      </clr-dg-placeholder>
      <clr-dg-row *ngFor="let ordenTrabajo of ordenTrabajoList"
                  (click)="selectOrdenTrabajo(ordenTrabajo)"
                  [class.selectOrdenTrabajo]="ordenTrabajo === SelectedOrdenTrabajo">
        <clr-dg-cell>{{ordenTrabajo.fecha}}</clr-dg-cell>
        <clr-dg-cell>{{ordenTrabajo.estado}}</clr-dg-cell>
        <clr-dg-cell>{{ordenTrabajo.tipoServicio}}</clr-dg-cell>
        <clr-dg-cell>{{ordenTrabajo.diagnostico}}</clr-dg-cell>
        <clr-dg-cell>{{

          <ul class="list-unstyled" *ngFor="let equipo of ordenTrabajo.equipos">
            <li>{{equipo.numeroSerie}} - {{equipo.numeroPatrimonial}}</li>
          </ul>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{total}} orden-trabajoes
        <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </section>
</form>

