.form-add-edit-solicitud-title{
  font-weight: bold;
  text-align: center;
}

.form-add-edit-solicitud-sub-title{
  font-weight: bold;
  text-align: left;
}

.col-sub-title {
  margin-top: -1% !important;
}

.form-add-edit-solicitud-label {
  font-weight: bold !important;
}
