<h5 class="form-add-edit-equipo-title">{{tituloForm }}</h5>
<form class="compact" #equipoForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label required" for="serie">N. Serie:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="serie" required
               name="serie" [(ngModel)]="equipo.numeroSerie">
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <label class="form-add-edit-equipo-label" for="descripcion">Descripción:</label>
      </div>
      <div class="col-xs-4">
        <input class="form-control" id="descripcion"
               name="descripcion" [(ngModel)]="equipo.descripcionEquipo">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label required" for="lote">N. Lote:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="lote" required
               name="lote" [(ngModel)]="equipo.numeroLote">
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <label class="form-add-edit-equipo-label required">Representante:</label>
      </div>
      <div class="col-xs-4" *ngIf="equipo.representante != null">
        <input class="form-control" id="representante"
               name="representante" [(ngModel)]="equipo.representante.nombre"
               disabled>
      </div>
      <div class="col-xs-3" *ngIf="equipo.representante == null">
        <input class="form-control" id="repre"
               disabled>
      </div>
      <div class="col-xs-1">
        <button class="form-add-edit-equipo-btn-add btn btn-sm btn-success"
                (click)="addRepresentante()">
          <clr-icon shape="user"></clr-icon>
          {{buttonTitleRepre}}
        </button>
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label" for="estado">Estado:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="estado"
               name="estado" [(ngModel)]="equipo.estado">
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <label class="form-add-edit-equipo-label">Ubicación:</label>
      </div>
      <div class="col-xs-3" *ngIf="equipo.ubicacion != null">
        <div class="select form-control">
          <select id="selectUbicacion" #selectedUbicacion
                  name="selectUbicacion"
                  [(ngModel)]="equipo.ubicacion.id"
                  (change)="onSelectedUbicacionEquipo(selectedUbicacion.value)">
            <option *ngFor="let ubicacion of ubicaciones"
                    value={{ubicacion.id}}>{{ubicacion.numeroSala}} -
              {{ubicacion.bloque}} - {{ubicacion.nivel}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-3" *ngIf="equipo.ubicacion == null">
        <div class="select form-control">
          <select id="UbicacionE" disabled>
            <option disabled>Agregar Ubicación</option>
          </select>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="form-add-edit-equipo-btn-add btn btn-sm btn-success"
                (click)="addUbicacionEquipo()">
          <clr-icon shape="plus"></clr-icon>
          {{buttonTitleUbicacion}}
        </button>
      </div>
    </div>


    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label required">Tipo:</label>
      </div>
      <div class="col-xs-3" *ngIf="equipo.tipoEquipo != null">
        <div class="select form-control">
          <select id="selectTipo" #selectedTipo name="selectTipo"
                  [(ngModel)]="equipo.tipoEquipo.id"
                  (change)="onSelectedTipoEquipo(selectedTipo.value)">
            <option *ngFor="let tipo of tipos"
                    value={{tipo.id}}>{{tipo.nombreGenerico}}, {{tipo.tipo}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-3" *ngIf="equipo.tipoEquipo == null">
        <div class="select form-control">
          <select id="tipoE" disabled>
            <option disabled>Agregar Tipo</option>
          </select>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="form-add-edit-equipo-btn-add btn btn-sm btn-success"
                (click)="addTipoEquipo()">
          <clr-icon shape="plus"></clr-icon>
          {{buttonTitleTipo}}
        </button>
      </div>
      <div class="col-xs-2">
        <label class="form-add-edit-equipo-label required">Modelo:</label>
      </div>
      <div class="col-xs-3" *ngIf="equipo.modeloEquipo != null">
        <div class="select form-control">
          <select id="selectModelo" #selectedModelo name="selectModelo"
                  [(ngModel)]="equipo.tipoEquipo.id"
                  (change)="onSelectedModeloEquipo(selectedModelo.value)">
            <option *ngFor="let modelo of modelos"
                    value={{modelo.id}}>{{modelo.modelo}}, {{modelo.marca}}, {{modelo.clase}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-3" *ngIf="equipo.modeloEquipo == null">
        <div class="select form-control">
          <select id="modeloE" name="modeloE" disabled>
            <option disabled>Agregar Modelo</option>
          </select>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="form-add-edit-equipo-btn-add btn btn-sm btn-success"
                (click)="addModeloEquipo()">
          <clr-icon shape="plus"></clr-icon>
          {{buttonTitleModelo}}
        </button>
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label" for="costo">Costo:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="costo"
               name="costo" [(ngModel)]="equipo.costo">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label" for="compra">Compra:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" type="date"
               id="compra" name="compra"
               [(ngModel)]="equipo.fechaCompra">
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <label class="form-add-edit-equipo-label" for="fab">Fabricación:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" type="date"
               id="fab" name="fab"
               [(ngModel)]="equipo.fechaFabricacion">
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-add-edit-equipo-label" for="garantia">Garantia:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" type="date"
               id="garantia" name="garantia"
               [(ngModel)]="equipo.fechaVenGarantia">
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <label class="form-add-edit-equipo-label" for="instalacion">Instalación:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" type="date"
               id="instalacion"
               name="instalacion"
               [(ngModel)]="equipo.fechaInstalacion">
      </div>
    </div>

  </section>
  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(equipoForm.form.invalid )"
            (click)="onSaveEquipo()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="onCancelAddEditEquipo()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </button>
  </section>
</form>


<!--Modal para agregar o editar los datos de un representante-->
<clr-modal [(clrModalOpen)]="modalRepreOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalRepreTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #repreForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="nombre">Nombre:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="nombre"
                   name="nombre" [(ngModel)]="representante.nombre"
                   required>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label" for="direccion">Dirección:</label>
          </div>
          <div class="col-xs-8">
            <input class="form-control" id="direccion"
                   name="direccion"
                   [(ngModel)]="representante.direccion">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label" for="email">Email:</label>
          </div>
          <div class="col-xs-8">
            <input class="form-control" id="email"
                   name="email" [(ngModel)]="representante.email">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="telefono">Telefono:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="telefono" required
                   name="telefono" [(ngModel)]="representante.telefono">
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="modalRepreOpen = false">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(repreForm.form.invalid )"
            (click)="onAddRepresentante()">Add
    </button>
  </div>
</clr-modal>


<!--Modal para agregar o editar los datos del tipo del equipo -->
<clr-modal [(clrModalOpen)]="modalTipoOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalTipoTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #tipoEquipoForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label required" for="tipo">Tipo:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="tipo" required
                   name="tipo" [(ngModel)]="tipoEquipo.tipo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5">
            <label class="form-add-edit-equipo-label required" for="nombreG">Nombre Genérico:</label>
          </div>
          <div class="col-xs-8">
            <input class="form-control" id="nombreG" required
                   name="nombreG" [(ngModel)]="tipoEquipo.nombreGenerico">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5">
            <label class="form-add-edit-equipo-label" for="indiceGestionEquipo">Indice de Gestión de Equipo:</label>
          </div>
          <div class="col-xs-8">
            <input class="form-control" id="indiceGestionEquipo"
                   name="indiceGestionEquipo" [(ngModel)]="tipoEquipo.indiceGestionEquipo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="vidaUtil">Vida Util:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="vidaUtil"
                   name="vidaUtil" [(ngModel)]="tipoEquipo.vidaUtil">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="codigoECRI">Código de ECRI/UMDNS:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="codigoECRI"
                   name="codigoECRI" [(ngModel)]="tipoEquipo.codigoECRI_UMDNS">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="procedimientoMP">Procedimiento de MP:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="procedimientoMP"
                   name="procedimientoMP" [(ngModel)]="tipoEquipo.procedimientoMP">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="mp_año">MP/año:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="mp_año"
                   name="mp_año" [(ngModel)]="tipoEquipo.mpano">
          </div>
        </div>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="modalTipoOpen = false">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(tipoEquipoForm.form.invalid )"
            (click)="onAddTipoEquipo()">Add
    </button>
  </div>
</clr-modal>

<!--Modal para agregar o editar los datos del modelo del equipo -->
<clr-modal [(clrModalOpen)]="modalModeloOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalModeloTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #modeloEquipoForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="modelo">Modelo:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="modelo" required
                   name="modelo" [(ngModel)]="modeloEquipo.modelo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="marca">Marca:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="marca" required
                   name="marca" [(ngModel)]="modeloEquipo.marca">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label" for="clase">Clase:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="clase"
                   name="clase" [(ngModel)]="modeloEquipo.clase">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label" for="regla">Regla de Clasificación:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="regla"
                   name="regla" [(ngModel)]="modeloEquipo.reglaClasificacion">
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="modalModeloOpen = false">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(modeloEquipoForm.form.invalid )"
            (click)="onAddModeloEquipo()">Add
    </button>
  </div>
</clr-modal>

<!--Modal para agregar o editar los datos de la ubicación del equipo -->
<clr-modal [(clrModalOpen)]="modalUbicacionOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalUbicacionTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #ubicacionForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label" for="servicio">Servicio:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="servicio"
                   name="servicio" [(ngModel)]="ubicacion.servicio">
          </div>

          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="bloque">Bloque:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="bloque" required
                   name="bloque" [(ngModel)]="ubicacion.bloque">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="nivel">Nivel:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control " id="nivel" required
                   name="nivel" [(ngModel)]="ubicacion.nivel">
          </div>

          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="nro_sala">Nro.Sala:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="nro_sala" required
                   name="nro_sala" [(ngModel)]="ubicacion.numeroSala">
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="modalUbicacionOpen = false">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(ubicacionForm.form.invalid )"
            (click)="onAddUbicacionEquipo()">Add
    </button>
  </div>
</clr-modal>


