<h5 class="form-add-edit-equipo-title">{{tituloForm }}</h5>
<form class="compact" #equipoForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <!--columna izquierda-->
      <div class="col-xs-5">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label required" for="serie">Nro. Serie:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="serie" required
                   name="serie" [(ngModel)]="equipo.numeroSerie">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label required" for="lote">Nro. Lote:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="lote" required
                   name="lote" [(ngModel)]="equipo.numeroLote">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label required">Estado:</label>
          </div>
          <div class="col-xs-6">
            <div class="select form-control">
              <select class="select-form-equipo" id="estado" #selectedEstado
                      name="estado"
                      [(ngModel)]="equipo.estado"
                      (change)="onSelectedEstado(selectedEstado.value)">
                <option>Operativo</option>
                <option>Inoperativo</option>
                <option>Irreparable</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label required">Tipo:</label>
          </div>
          <div class="col-xs-6" *ngIf="tipos != null && tipos.length > 0">
            <div class="select form-control">
              <select class="select-form-equipo" #tipoSelected
                      id="tipo-select" name="tipo-select"
                      [(ngModel)]="equipo.tipoEquipo"
                      (change)="onSelectedTipoEquipo(tipoSelected.value.toString())">
                <option *ngFor="let tipoE of tipos"
                        value={{tipoE.id}}>{{tipoE.tipo}}
                </option>
              </select>
            </div>

          </div>
          <div class="col-xs-6" *ngIf="tipos == null || tipos.length == 0">
            <div class="select form-control">
              <select class="select-form-equipo" id="tipoE" disabled>
                <option disabled>Agregar Tipo</option>
              </select>
            </div>
          </div>

          <div class="col-xs-1 col-btn-add-edit-equipo" *ngIf="showBtnTipo">
            <button class="btn-add-edit-equipo btn btn-sm btn-success"
                    (click)="addTipoEquipo()">
              <clr-icon shape="plus"></clr-icon>
              {{buttonTitleTipo}}
            </button>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label required">Modelo:</label>
          </div>
          <div class="col-xs-6" *ngIf="modelos != null && modelos.length > 0">
            <div class="select form-control">
              <select class="select-form-equipo" id="selectModelo" #selectedModelo
                      name="selectModelo"
                      [(ngModel)]="equipo.modeloEquipo"
                      (change)="onSelectedModeloEquipo(selectedModelo.value.toString())">
                <option *ngFor="let modelo of modelos" value={{modelo.id}}>
                  {{modelo.modelo}}
                </option>
              </select>
            </div>

          </div>
          <div class="col-xs-6" *ngIf="modelos == null || modelos.length == 0">
            <div class="select form-control">
              <select class="select-form-equipo" id="modeloE" name="modeloE" disabled>
                <option disabled>Agregar Modelo</option>
              </select>
            </div>
          </div>
          <div class="col-xs-1 col-btn-add-edit-equipo" *ngIf="showBtnModelo">
            <button class="btn-add-edit-equipo btn btn-sm btn-success"
                    (click)="addModeloEquipo()">
              <clr-icon shape="plus"></clr-icon>
              {{buttonTitleModelo}}
            </button>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="costo">Costo:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="costo"
                   name="costo" [(ngModel)]="equipo.costo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="fab">Fabricación:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" type="date"
                   id="fab" name="fab"
                   [(ngModel)]="equipo.fechaFabricacion">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-4 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="garantia">Vto. Garantia:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" type="date"
                   id="garantia" name="garantia"
                   [(ngModel)]="equipo.fechaVenGarantia">
          </div>
        </div>
      </div>

      <!--columna derecha-->
      <div class="col-xs-7">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label required" for="patrimonial">Nro. Patrimonial:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" id="patrimonial"
                   name="patrimonial" [(ngModel)]="equipo.numeroPatrimonial">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label required">Representante:</label>
          </div>

          <div class="col-xs-5" *ngIf="representantes != null && representantes.length > 0">
            <div class="select form-control">
              <select class="select-form-equipo" #representanteSelected
                      id="representante" name="representante"
                      [(ngModel)]="repreSeleccionado"
                      (change)="onSelectedRepresentante(representanteSelected.value.toString())">
                <option *ngFor="let representante of representantes"
                        value={{representante.id}}>{{representante.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-5" *ngIf="representantes == null || representantes.length == 0">
            <div class="select form-control">
              <select class="select-form-equipo" id="repre" disabled>
                <option disabled>Agregar Representante</option>
              </select>
            </div>
          </div>

          <div class="col-xs-1 col-btn-add-edit-equipo">
            <button class="btn-add-edit-equipo btn btn-sm btn-success"
                    (click)="addRepresentante()">
              <clr-icon shape="user"></clr-icon>
              {{buttonTitleRepre}}
            </button>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label">Ubicación:</label>
          </div>
          <div class="col-xs-5" *ngIf="ubicaciones != null && ubicaciones.length > 0">
            <div class="select form-control">
              <select class="select-form-equipo" #selectedUbiEquipo
                      id="selectUbicacion" name="selectUbicacion"
                      [(ngModel)]="equipo.ubicacion"
                      (change)="onSelectedUbicacionEquipo(selectedUbiEquipo.value.toString())">
                <option *ngFor="let ubicacion of ubicaciones" value={{ubicacion.id}}>
                  {{ubicacion.numeroSala}} - {{ubicacion.bloque}} - {{ubicacion.nivel}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-5" *ngIf="ubicaciones == null || ubicaciones.length == 0">
            <div class="select form-control">
              <select class="select-form-equipo" id="UbicacionE" disabled>
                <option disabled>Agregar Ubicación</option>
              </select>
            </div>
          </div>
          <div class="col-xs-1 col-btn-add-edit-equipo" *ngIf="showBtnUbicacion">
            <button class="btn-add-edit-equipo btn btn-sm btn-success"
                    (click)="addUbicacionEquipo()">
              <clr-icon shape="plus"></clr-icon>
              {{buttonTitleUbicacion}}
            </button>
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="version">Version Software:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" id="version"
                   name="version" [(ngModel)]="equipo.versionSw">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="licitacion">Nro. Licitacion Compra:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" id="licitacion"
                   name="licitacion" [(ngModel)]="equipo.licitacionCompra">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="compra">Compra:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" type="date"
                   id="compra" name="compra"
                   [(ngModel)]="equipo.fechaCompra">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="instalacion">Puesta en Marcha:</label>
          </div>
          <div class="col-xs-5">
            <input class="form-control" type="date"
                   id="instalacion"
                   name="instalacion"
                   [(ngModel)]="equipo.fechaInstalacion">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-5 col-label-equipo">
            <label class="form-add-edit-equipo-label" for="descripcion">Descripción:</label>
          </div>
          <div class="col-xs-5">
            <textarea class="form-control" id="descripcion" rows="3"
                      name="descripcion" [(ngModel)]="equipo.descripcionEquipo">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(equipoForm.form.invalid )"
            (click)="onSaveEquipo()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="onCancelAddEditEquipo()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </button>

  </section>
</form>

<!--Modal para agregar o editar los datos de un representante-->
<!--<clr-modal [(clrModalOpen)]="modalRepreOpen" [clrModalClosable]="false">-->
  <!--<h3 class="modal-title form-add-edit-equipo-label">{{modalRepreTitle}}</h3>-->
  <!--<div class="modal-body">-->
    <!--<form class="compact" #repreForm="ngForm">-->
      <!--<section class="form-block">-->
        <!--<div class="form-group row flex-items-xs-left">-->
          <!--<div class="col-xs-3 col-label-equipo">-->
            <!--<label class="form-add-edit-equipo-label required" for="empresa">Nombre/Empresa:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-9">-->
            <!--<input class="form-control" id="empresa"-->
                   <!--name="empresa" [(ngModel)]="representante.nombre"-->
                   <!--required>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group row flex-items-xs-left">-->
          <!--<div class="col-xs-3 col-label-equipo">-->
            <!--<label class="form-add-edit-equipo-label" for="direccion">Dirección:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-9">-->
            <!--<input class="form-control" id="direccion"-->
                   <!--name="direccion"-->
                   <!--[(ngModel)]="representante.direccion">-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group row flex-items-xs-left">-->
          <!--<div class="col-xs-3 col-label-equipo">-->
            <!--<label class="form-add-edit-equipo-label" for="email">Email:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-9">-->
            <!--<input class="form-control" id="email"-->
                   <!--name="email" [(ngModel)]="representante.email">-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group row flex-items-xs-left">-->
          <!--<div class="col-xs-3 col-label-equipo">-->
            <!--<label class="form-add-edit-equipo-label required" for="telefono">Telefono:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-3">-->
            <!--<input class="form-control" id="telefono" required-->
                   <!--name="telefono" [(ngModel)]="representante.telefono">-->
          <!--</div>-->

          <!--<div class="col-xs-3">-->
            <!--<label class="form-add-edit-equipo-label required" for="contacto">Nro. Contacto:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-3">-->
            <!--<input class="form-control" id="contacto" required-->
                   <!--name="contacto" [(ngModel)]="representante.telefonoContacto">-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group row flex-items-xs-left">-->
          <!--<div class="col-xs-3 col-label-equipo">-->
            <!--<label class="form-add-edit-equipo-label required" for="telefono">Cel.:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-4">-->
            <!--<input class="form-control" id="cel" required-->
                   <!--name="cel" [(ngModel)]="representante.celular">-->
          <!--</div>-->
        <!--</div>-->

      <!--</section>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button class="btn btn-sm" type="button"-->
            <!--(click)="onCancelRepresentante()">Cancel-->
    <!--</button>-->
    <!--<button class="btn btn-sm btn-success" type="button"-->
            <!--[disabled]="(repreForm.form.invalid )"-->
            <!--(click)="onAddRepresentante()">Add-->
    <!--</button>-->
  <!--</div>-->
<!--</clr-modal>-->


<!--Modal para agregar o editar los datos del tipo del equipo -->
<clr-modal [(clrModalOpen)]="modalTipoOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalTipoTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #tipoEquipoForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label required" for="tipo">Tipo:</label>
          </div>
          <div class="col-xs-10">
            <input class="form-control" id="tipo" required
                   name="tipo" [(ngModel)]="tipoEquipo.tipo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="codigoECRI">Código de ECRI/UMDNS:</label>
          </div>
          <div class="col-xs-10">
            <input class="form-control" id="codigoECRI"
                   name="codigoECRI" [(ngModel)]="tipoEquipo.codigoECRIUMDNS">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="clase">Clase:</label>
          </div>
          <div class="col-xs-10">
            <input class="form-control" id="clase"
                   name="clase" [(ngModel)]="tipoEquipo.clase">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="mp_año">MP/año:</label>
          </div>
          <div class="col-xs-10">
            <input class="form-control" id="mp_año"
                   name="mp_año" [(ngModel)]="tipoEquipo.mpano">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-10">
            <label class="form-add-edit-equipo-label" for="clase">Personal a Cargo:</label>
          </div>
          <div class="col-xs-10">
            <input class="form-control" id="personal"
                   name="personal" [(ngModel)]="tipoEquipo.personalACargo">
          </div>
        </div>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="onCancelTipoEquipo()">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(tipoEquipoForm.form.invalid )"
            (click)="onAddTipoEquipo()">Add
    </button>
  </div>
</clr-modal>

<!--Modal para agregar o editar los datos del modelo del equipo -->
<clr-modal [(clrModalOpen)]="modalModeloOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalModeloTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #modeloEquipoForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3 col-label-equipo">
            <label class="form-add-edit-equipo-label required" for="modelo">Modelo:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="modelo" required
                   name="modelo" [(ngModel)]="modeloEquipo.modelo">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-3 col-label-equipo">
            <label class="form-add-edit-equipo-label required" for="marca">Marca:</label>
          </div>
          <div class="col-xs-6">
            <input class="form-control" id="marca" required
                   name="marca" [(ngModel)]="modeloEquipo.marca">
          </div>
        </div>

        <!--<div class="form-group row flex-items-xs-left">-->
          <!--<div class="col-xs-4 col-label-equipo">-->
            <!--<label class="form-add-edit-equipo-label">Procedimiento IMP:</label>-->
          <!--</div>-->
          <!--<div class="col-xs-6">-->
          <!--<input class="form-control" id="clase"-->
          <!--name="imp" [(ngModel)]="modeloEquipo.imp">-->
          <!--</div>-->
        <!--</div>-->

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="onCancelModeloEquipo()">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(modeloEquipoForm.form.invalid )"
            (click)="onAddModeloEquipo()">Add
    </button>
  </div>
</clr-modal>

<!--Modal para agregar o editar los datos de la ubicación del equipo -->
<clr-modal [(clrModalOpen)]="modalUbicacionOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-add-edit-equipo-label">{{modalUbicacionTitle}}</h3>
  <div class="modal-body">
    <form class="compact" #ubicacionForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label" for="servicio">Servicio:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="servicio"
                   name="servicio" [(ngModel)]="ubicacion.servicio">
          </div>

          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="bloque">Bloque:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="bloque" required
                   name="bloque" [(ngModel)]="ubicacion.bloque">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="nivel">Nivel:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control " id="nivel" required
                   name="nivel" [(ngModel)]="ubicacion.nivel">
          </div>

          <div class="col-xs-2">
            <label class="form-add-edit-equipo-label required" for="nro_sala">Nro.Sala:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="nro_sala" required
                   name="nro_sala" [(ngModel)]="ubicacion.numeroSala">
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm" type="button"
            (click)="onCancelUbicacionEquipo()">Cancel
    </button>
    <button class="btn btn-sm btn-success" type="button"
            [disabled]="(ubicacionForm.form.invalid )"
            (click)="onAddUbicacionEquipo()">Add
    </button>
  </div>
</clr-modal>


