.form-representante-title {
    font-weight: bold;
    text-align: center;
}

/*label del formulario*/
.form-representante-label {
  font-weight: bold !important;
}

/*columna de los labels del formulario*/
.col-label-representante {
  text-align: right !important;
}
