<!--Modal para agregar o editar los datos de un representante-->
<clr-modal [(clrModalOpen)]="modalRepreOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-representante-title">{{modalRepreTitle}}</h3>
  <div class="modal-body">
    <form clrForm #repreForm="ngForm">
      <clr-input-container>
        <label class="clr-col-5">Nombre/Empresa:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="nombre" name="empresa" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Dirección:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="direccion" name="direccion"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Email:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="email" name="email"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Telefono:</label>
        <input class="tamanho-medio clr-col-10" clrInput type="text" [(ngModel)]="telefono" name="telefono" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Contacto:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="nombreContacto" name="nombreContacto"
               required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Cel.:</label>
        <input class="tamanho-medio clr-col-10" clrInput type="text" [(ngModel)]="celular" name="celular" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline btn-sm" type="button"
            (click)="onCancelAddEditRepresentante()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
    <button class="btn btn-success btn-sm" type="button"
            (click)="addRepresentante()"
            [disabled]="(repreForm.form.invalid)">
      <clr-icon shape="check"></clr-icon>
      {{btnTitle}}
    </button>
  </div>
</clr-modal>
