.form-add-edit-repuesto-title{
  font-weight: bold;
  text-align: center;
}

.form-add-edit-repuesto-sub-title{
  font-weight: bold;
  text-align: left;
}

.form-add-edit-repuesto-label {
  font-weight: bold !important;
}
