<!--Modal para agregar o editar los datos de un repuesto-->
<clr-modal [(clrModalOpen)]="modalRepuestoOpen" [clrModalClosable]="false"
           [clrModalSize]="'lg'">
  <h3 class="modal-title form-repuesto-title">{{modalRepuestoTitle}}</h3>
  <div class="modal-body">
    <!-- info -->
    <div class="alert alert-info" *ngIf="info">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{errorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="info = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>

    <!-- errors -->
    <div class="alert alert-danger" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{errorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="error = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>

    <form clrForm >
      <div class="clr-row clr-justify-content-start">
        <!--columna izquierda-->
        <div class="clr-col-6">
          <clr-input-container *ngIf="!isEditRepuesto">
            <label class="clr-col-5">Código:</label>
            <input class="tamanho-total clr-col-8" clrInput id="codRepuesto"
                   name="codRepuesto" #codRep tabindex="1"
                   (keyup.enter)="onEnterCodigoRepuesto(codRep.value)"
                   (keyup)="onKeyCodigoRepuesto(codRep.value)"
                   [(ngModel)]="codigo" required />
            <clr-control-helper>Ingrese un codigo y presione enter para verificar existencia</clr-control-helper>
            <clr-control-error>El campo es obligatorio</clr-control-error>
          </clr-input-container>

          <clr-input-container *ngIf="isEditRepuesto">
            <label class="clr-col-5">Código:</label>
            <input class="tamanho-total clr-col-8" clrInput type="text" id="codigo"
                   name="codigo" [(ngModel)]="codigo" required />
            <clr-control-error>El campo es obligatorio</clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label class="clr-col-5">Precio:</label>
            <input class="tamanho-total clr-col-8" clrInput type="text" [(ngModel)]="precio"
                   name="precio" [disabled]="readonlyField"/>
          </clr-input-container>

          <clr-input-container>
            <label class="clr-col-5">Cant. Solicitada:</label>
            <input class="tamanho-total clr-col-8" clrInput type="text" [(ngModel)]="cantidadSolicitada"
                   name="cantidadSolicitada" [disabled]="readonlyField"/>
          </clr-input-container>

          <clr-input-container>
            <label class="clr-col-5">Cant. Adquirida:</label>
            <input class="tamanho-total clr-col-8" clrInput type="text"
                   [(ngModel)]="cantAdquirida" name="cantAdquirida" [disabled]="readonlyField"/>
          </clr-input-container>

          <clr-select-container>
            <label class="clr-col-5">Tipo</label>
            <select clrSelect name="tipoEqId" [(ngModel)]="tipoEqId"
                    (ngModelChange)="onSelectTipoEquipo()">
              <option disabled>Seleccionar Tipo</option>
              <option *ngFor="let tipo of tipos"
                      value={{tipo.id}}>{{tipo.tipo}}
              </option>
            </select>
          </clr-select-container>

          <clr-select-container>
            <label class="clr-col-5">Representante:</label>
            <select clrSelect name="repreId" [(ngModel)]="repreId" [disabled]="readonlyField"
                    (ngModelChange)="onSelectRepresentante()">
              <option disabled>Seleccionar Representante</option>
              <option *ngFor="let repre of representantes"
                      value={{repre.id}}>{{repre.nombre}}
              </option>
            </select>
          </clr-select-container>
        </div>

        <!--columna derecha-->
        <div class="clr-col-6">
          <clr-textarea-container>
            <label class="clr-col-5">Descripción:</label>
            <textarea class="tamanho-total" clrTextarea [(ngModel)]="descripcion"
                      name="description" required [disabled]="readonlyField">
            </textarea>
            <clr-control-error>El campo es obligatorio</clr-control-error>
          </clr-textarea-container>

          <clr-input-container>
            <label class="clr-col-5">Cant. Usada:</label>
            <input class="tamanho-total clr-col-8" clrInput type="text"
                   [(ngModel)]="cantidadUsada" name="cantidadUsada" [disabled]="!isAtenderOT"/>
          </clr-input-container>

          <clr-input-container>
            <label class="clr-col-5">Cant. Existente:</label>
            <input class="tamanho-total clr-col-8" clrInput type="text"
                   [(ngModel)]="cantExistente" name="cantExistente" [disabled]="readonlyField"/>
          </clr-input-container>

          <clr-select-container>
            <label class="clr-col-5">Seleccione Marca</label>
            <select clrSelect name="marcaId" [(ngModel)]="marcaId" [disabled]="readonlyField"
                    (ngModelChange)="onSelectMarca()">
              <option>Seleccionar Marca</option>
              <option *ngFor="let marca of marcas"
                      value={{marca.id}}>{{marca.marca}}
              </option>
            </select>
          </clr-select-container>

          <clr-select-container>
            <label class="clr-col-5">Modelo:</label>
            <select clrSelect name="tipoId" [(ngModel)]="modeloId" [disabled]="readonlyField"
                    (ngModelChange)="onSelectModelo()">
              <option disabled>Seleccionar Representante</option>
              <option disabled>Seleccionar Modelo</option>
              <option *ngFor="let modelo of modelos"
                      value={{modelo.id}}>{{modelo.modelo}}
              </option>
            </select>
          </clr-select-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline btn-sm" type="button"
            (click)="onCancelAddEditRepuesto()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
    <button class="btn btn-success btn-sm" type="button"
            (click)="addRepuesto()"
            [disabled]="!addBtnHabilitado">
      <clr-icon shape="check"></clr-icon>
      Agregar
    </button>
  </div>
</clr-modal>
