<h2 class="form-orden-trabajo-title">Crear Orden de Trabajo</h2>
<section class="form-block">
  <!-- errors -->
  <div class="alert alert-danger" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
</section>

<form class="compact" #ordenTrabajoForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-orden-trabajo-label" for="estado">Estado:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="estado"
               name="estado" [(ngModel)]="estado">
      </div>
      <div class="col-xs-3"></div>
      <div class="col-xs-2">
        <label class="form-orden-trabajo-label" for="tipoServicio">Tipo Mantenimiento:</label>
      </div>
      <div class="col-xs-3">
        <div class="select form-control">
          <select class="select-form-orden-trab" id="tipoServicio"
                  #selectServicio name="tipoServicio"
                  [(ngModel)]="tipoServicio"
                  (change)="onSelectedTipoMantinieminto(selectServicio.value)">
            <option *ngFor="let servicio of tipoServicios"
                    value={{servicio.nombre}}>{{servicio.nombre}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left" *ngIf="tipoServicio == 'PREVENTIVO'">
      <div class="col-xs-1">
        <label class="form-orden-trabajo-label">Fecha:</label>
      </div>
      <div class="col-xs-2">
        <clr-date-container>
          <input type="date" clrDate name="fechaInstalacion" [(ngModel)]="fechaRealizacion"
                 min="2000-01-01" max="2030-12-31" tabindex="10">
        </clr-date-container>
      </div>
    </div>
    <br>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-6">
        <label class="form-orden-trabajo-label">Personal que reporta el problema:</label>
      </div>
      <div class="col-xs-6">
        <label class="form-orden-trabajo-label" for="responsable">Descripción del Problema:</label>
      </div>
      <div class="col-xs-4">
        <input class="form-control" id="responsable"
               name="responsable" [(ngModel)]="responsable">
      </div>
      <div class="col-xs-2"></div>

      <div class="col-xs-6">
                <textarea class="form-control" id="diagnostico" rows="5"
                          name="diagnostico" [(ngModel)]="diagnostico">
            </textarea>
      </div>
    </div>
  </section>
  <hr>
  <!-- información del equipo-->
  <h4 class="form-orden-trabajo-sub-title">Información del Equipo</h4>
  <section class="form-block">
    <!-- errors -->
    <div class="alert alert-warning" *ngIf="equipoWarning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{equipoWarningMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="equipoWarning = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </section>
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1 col-label-equipo">
        <label class="form-orden-trabajo-label" for="nroSerie">N. Serie:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="nroSerie"
               name="nroSerie" #nroSerie
               (keyup.enter)="onEnterNroSerie(nroSerie.value)"
               (keyup)="onKeyNroSerie(nroSerie.value)"
               [(ngModel)]="numeroSerie">
      </div>
      <div class="col-xs-1" *ngIf="equipoSuccess">
        <clr-icon shape="check-circle alert-icon alert-success"></clr-icon>
      </div>
      <div class="col-xs-1" *ngIf="equipoWarning">
        <clr-icon shape="warning-standard alert-icon alert-warning"></clr-icon>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2 col-label-equipo">
        <label class="form-orden-trabajo-label" for="numeroPatrimonial">N. Patrimonial:</label>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="numeroPatrimonial"
               name="numeroPatrimonial" #nroPatrimonial
               (keyup.enter)="onEnterNroPatrimonial(nroPatrimonial.value)"
               (keyup)="onKeyNroPatrimonial(nroPatrimonial.value)"
               [(ngModel)]="numeroPatrimonial">
      </div>
      <div class="col-xs-1" *ngIf="equipoSuccess">
        <clr-icon shape="check-circle alert-icon alert-success"></clr-icon>
      </div>
      <div class="col-xs-1" *ngIf="equipoWarning">
        <clr-icon shape="warning-standard alert-icon alert-warning"></clr-icon>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1 col-label-equipo">
        <label class="form-orden-trabajo-label">Tipo:</label>
      </div>
      <div class="col-xs-4">
        <label class="form-control">
          {{equipoSeleccionado?.tipoEquipo?.tipo}}
        </label>
      </div>

      <div class="col-xs-2 col-label-equipo">
        <label class="form-orden-trabajo-label">Modelo:</label>
      </div>
      <div class="col-xs-4">
        <label class="form-control">
          {{equipoSeleccionado?.modeloEquipo?.modelo}}
        </label>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1 col-label-equipo">
        <label class="form-orden-trabajo-label">Ubicación:</label>
      </div>
      <div class="col-xs-4">
        <label class="form-control">
          {{equipoSeleccionado?.ubicacion?.servicio}} {{equipoSeleccionado?.ubicacion?.bloque}}
          {{equipoSeleccionado?.ubicacion?.nivel}} {{equipoSeleccionado?.ubicacion?.numeroSala}}
        </label>
      </div>

      <div class="col-xs-2 col-label-equipo">
        <label class="form-orden-trabajo-label">Contrato:</label>
      </div>
      <div class="col-xs-4">
        <label class="form-control">
          {{equipoSeleccionado?.contrato?.numeroContrato}}
        </label>
      </div>
    </div>

<!--    <a type="button" class="btn btn-sm btn-secondary"-->
<!--       [hidden]="!showAgregarBtn"-->
<!--       (click)="onAddEquipo()">-->
<!--      <clr-icon shape="plus"></clr-icon>-->
<!--      Agregar-->
<!--    </a>-->
  </section>
  <hr>
  <h4 class="form-orden-trabajo-sub-title">Repuestos Solicitados</h4>
  <section class="form-block">
    <!-- errors -->
    <div class="alert alert-danger" *ngIf="repError">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{repErrorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="repError = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </section>

  <section>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-orden-trabajo-label">Solicitud Repuesto:</label>
      </div>
      <div class="col-xs-3">
        <div class="select form-control">
          <select clrSelect name="representante" [(ngModel)]="solicitudRepId"
                  (ngModelChange)="onSelectedSolicitudRepuesto()">
            <option>Seleccionar Solicitud</option>
            <option *ngFor="let solicitud of solicitudRepuestoPendientes"
                    value={{solicitud.id}}>{{solicitud.id}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <clr-datagrid>
    <clr-dg-action-bar>
      <div class="btn-group">
        <a type="button" class="btn btn-sm btn-secondary"
           (click)="agregarRepuesto()">
          <clr-icon shape="plus"></clr-icon>
          Agregar Repuesto
        </a>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column>Código</clr-dg-column>
    <clr-dg-column>Descripción</clr-dg-column>
    <clr-dg-column>Tipo</clr-dg-column>
    <clr-dg-column>Marca</clr-dg-column>
    <clr-dg-column>Modelo</clr-dg-column>
    <clr-dg-column>Representante</clr-dg-column>
    <clr-dg-column>Precio</clr-dg-column>
    <clr-dg-column>Cantidad Solicitada</clr-dg-column>
    <clr-dg-column></clr-dg-column>
    <clr-dg-row *ngFor="let detalle of solicitudRepuestoDetalles">
      <clr-dg-cell>{{detalle.repuesto?.codigo}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.repuesto?.descripcionArticulo}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.repuesto?.tipoEquipo?.tipo}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.repuesto?.modeloEquipo?.marca}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.repuesto?.modeloEquipo?.modelo}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.repuesto?.representante?.nombre}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.repuesto?.precio}}</clr-dg-cell>
      <clr-dg-cell>{{detalle.cantidadSolicitada}}</clr-dg-cell>
      <clr-dg-cell>
        <a class="btn btn-sm btn-warning"
           (click)="eliminarDetalleRepuesto(detalle, true)">
          Eliminar
        </a>
        <a type="button" class="btn btn-sm btn-secondary"
           (click)="editarRepuesto(detalle)">
          <clr-icon shape="plus"></clr-icon>
          Editar
        </a>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>


  <section class="form-block">
    <a class="btn btn-sm btn-success"
       (click)="onSaveAddOrdenTrabajo()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </a>

    <a class="btn btn-sm btn-secondary"
       (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </a>
  </section>
</form>

<!--Modal para agregar o editar los datos de un repuesto-->
<app-solicitud-repuesto-detalle *ngIf="modalAddEditDetalleOpen"
                                [solicitudRepuestoDetalle]="detalleSeleccionado"
                                [isEditRepuesto]="isEditDetalle"
                                [isAtenderOT]="false"
                                (detalleRepuestoToUpdate)="addEditRepuesto($event)"
                                (cancelAddEditRepuesto)="onCancelAddEditRepuesto($event)">
</app-solicitud-repuesto-detalle>

