.form-order-trabajo-label {
  font-weight: bold !important;
}

.form-order-trabajo-title{
  font-weight: bold !important;
  text-align: center;
}

.form-order-trabajo-sub-title{
  font-weight: bold !important;
  text-align: left;
}

