<h2 class="form-orden-trabajo-title">Crear Orden de Trabajo</h2>
<!-- errors -->
<div class="clr-col-8">
  <div class="alert alert-danger" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
</div>

<form clrForm>
  <div class="clr-col-8">
    <clr-input-container>
      <label>Estado:</label>
      <input clrInput type="text" [(ngModel)]="estado" name="estado" required/>
      <clr-control-error>El campo es obligatorio</clr-control-error>
    </clr-input-container>

    <clr-select-container>
      <label>Tipo Mantenimiento:</label>
      <select clrSelect name="tipoServicio" [(ngModel)]="tipoServicio" #selectServicio
              (change)="onSelectedTipoMantinieminto(selectServicio.value)">
        <option *ngFor="let servicio of tipoServicios"
                value={{servicio.nombre}}>{{servicio.nombre}}
        </option>
      </select>
    </clr-select-container>

    <clr-input-container *ngIf="tipoServicio == 'PREVENTIVO'">
      <label>Fecha:</label>
      <input clrInput type="date" [(ngModel)]="fechaRealizacion" name="fechaInstalacion"
             min="1990-01-01" max="2050-12-31"/>
    </clr-input-container>
    <br/>
  </div>
  <div class="clr-col-8">
    <clr-input-container>
      <label class="clr-col-8">Personal que reporta el problema:</label>
      <input class="tamanho-medio" clrInput type="text" [(ngModel)]="responsable" name="responsable"/>
    </clr-input-container>

    <clr-textarea-container>
      <label class="clr-col-8">Descripción del Problema:</label>
      <textarea class="tamanho-total clr-col-6" clrTextarea [(ngModel)]="diagnostico" name="diagnostico"></textarea>
    </clr-textarea-container>
  </div>
  <br/>
  <hr>
  <!-- información del equipo-->
  <h4 class="form-orden-trabajo-sub-title">Información del Equipo</h4>
  <!-- errors -->
  <div class="clr-row">
    <div class="alert alert-warning" *ngIf="equipoWarning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{equipoWarningMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="equipoWarning = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>

  <div class="clr-row">
    <!--    numero de serie-->
    <div class="clr-col-3">
      <div class="clr-form-control">
        <label class="tamanho-total clr-col-5 label-input">N. Serie:</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" class="clr-input" id="nroSerie" name="nroSerie" #nroSerie
                   (keyup.enter)="onEnterNroSerie(nroSerie.value)"
                   (keyup)="onKeyNroSerie(nroSerie.value)"
                   [(ngModel)]="numeroSerie"/>
            <clr-icon class="alert-icon equipo-success-icon" shape="check-circle alert-icon alert-success"
                      *ngIf="numeroSerie != '' && equipoSuccess"></clr-icon>
            <clr-icon class="alert-icon equipo-warning-icon" shape="warning-standard alert-icon alert-warning"
                      *ngIf="numeroSerie != '' && equipoWarning"></clr-icon>
          </div>
        </div>
      </div>
    </div>
    <!--número patrimonial-->
    <div class="clr-col-4">
      <div class="clr-form-control">
        <label class="tamanho-total clr-col-5 label-input">N. Patrimonial</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" class="clr-input" id="numeroPatrimonial" name="numeroPatrimonial" #nroPatrimonial
                   (keyup.enter)="onEnterNroPatrimonial(nroPatrimonial.value)"
                   (keyup)="onKeyNroPatrimonial(nroPatrimonial.value)"
                   [(ngModel)]="numeroPatrimonial"/>
            <clr-icon class="alert-icon equipo-success-icon" shape="check-circle alert-icon alert-success"
                      *ngIf="numeroPatrimonial != '' && equipoSuccess"></clr-icon>
            <clr-icon class="alert-icon equipo-warning-icon" shape="warning-standard alert-icon alert-warning"
                      *ngIf="numeroPatrimonial != '' && equipoWarning"></clr-icon>
          </div>
        </div>
      </div>
    </div>
    <!--    botón eliminar-->
    <div class="clr-col-1 clr-align-self-end" *ngIf="selectedEquipo">
      <a type="button" class="btn btn-sm btn-danger-outline"
         (click)="clearDatosEquipos()">
        <clr-icon shape="trash"></clr-icon>
      </a>
    </div>
  </div>
  <br/>
  <table class="table table-compact" *ngIf="selectedEquipo">
    <thead>
    <tr>
      <th class=" table-header left">Tipo</th>
      <th class=" table-header">Marca</th>
      <th class=" table-header">Modelo</th>
      <th class=" table-header">Descripción</th>
      <th class=" table-header">Ubicación</th>
      <th class=" table-header">Representante</th>
      <th class=" table-header">Fecha Garantia</th>
      <th class=" table-header left">Contrato</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="table-column left">{{equipoSeleccionado?.tipoEquipo?.tipo}}</td>
      <td class="table-column">{{equipoSeleccionado?.marca?.marca}}</td>
      <td class="table-column">{{equipoSeleccionado?.modelo?.modelo}}</td>
      <td class="table-column">{{equipoSeleccionado?.descripcionEquipo}}</td>
      <td
        class="table-column">{{ equipoSeleccionado?.ubicacion?.bloque ? equipoSeleccionado?.ubicacion?.bloque + ' ' : ''  }}
        {{equipoSeleccionado?.ubicacion?.nivel ? equipoSeleccionado?.ubicacion?.nivel + ' ' : '' }}
        {{equipoSeleccionado?.ubicacion?.numeroSala ? equipoSeleccionado?.ubicacion?.numeroSala + ' ' : '' }}</td>
      <td class="table-column">{{equipoSeleccionado?.representante.nombre}}</td>
      <td class="table-column">{{equipoSeleccionado?.fechaVenGarantia}}</td>
      <td class=" table-columnleft">{{equipoSeleccionado?.contrato.numeroContrato}}</td>
    </tr>
    </tbody>
  </table>

  <br/>
  <hr>
  <h4 class="form-orden-trabajo-sub-title">Repuestos Solicitados</h4>
  <div class="clr-row">
    <div class="alert alert-danger" *ngIf="repError">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{repErrorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="repError = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>
  <div class="clr-col-8">
    <clr-select-container>
      <label>Solicitud Repuesto:</label>
      <select clrSelect name="solicitudRepId" [(ngModel)]="solicitudRepId"
              (ngModelChange)="onSelectedSolicitudRepuesto()">
        <option>Seleccionar Solicitud ID</option>
        <option *ngFor="let solicitud of solicitudRepuestoPendientes"
                value={{solicitud.id}}>{{solicitud.id}}
        </option>
      </select>
    </clr-select-container>
  </div>
  <br/>
  <div class="card">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary"
              (click)="agregarRepuesto()">
        <clr-icon shape="plus"></clr-icon>
        Agregar Repuesto
      </button>
    </div>

    <p-table [value]="solicitudRepuestoDetalles">
      <ng-template pTemplate="header">
        <tr>
          <th class="table-header">Código</th>
          <th class="table-header">Descripción</th>
          <th class="table-header">Tipo</th>
          <th class="table-header">Marca</th>
          <th class="table-header">Modelo</th>
          <th class="table-header">Representante</th>
          <th class="table-header">Precio</th>
          <th class="table-header">Cantidad Solicitada</th>
          <th style="width:6rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detalle>
        <tr>
          <td class="table-column" style="text-align: center">{{detalle.repuesto?.codigo}}</td>
          <td class="table-column">{{detalle.repuesto?.descripcionArticulo}}</td>
          <td class="table-column">{{detalle.repuesto?.tipoEquipo?.tipo}}</td>
          <td class="table-column">{{detalle.repuesto?.marca?.marca}}</td>
          <td class="table-column">{{detalle.repuesto?.modelo?.modelo}}</td>
          <td class="table-column">{{detalle.repuesto?.representante?.nombre}}</td>
          <td class="table-column" style="text-align: right">{{detalle.repuesto?.precio}}</td>
          <td class="table-column" style="text-align: center">{{detalle.cantidadSolicitada}}</td>
          <td>
            <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-success"
                    (click)="editarRepuesto(detalle)"></button>
            <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger"
                    (click)="eliminarDetalleRepuesto(detalle, true)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <br/><br/>
  <div class="clr-row clr-justify-content-start">
    <a class="btn btn-sm btn-success"
       (click)="onSaveAddOrdenTrabajo()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </a>

    <a class="btn btn-sm btn-secondary"
       (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </a>
  </div>

</form>

<!--Modal para agregar o editar los datos de un repuesto-->
<app-solicitud-repuesto-detalle *ngIf="modalAddEditDetalleOpen"
                                [solicitudRepuesto]="solicitudRepuesto"
                                [solicitudRepuestoDetalle]="detalleSeleccionado"
                                [isEditRepuesto]="isEditDetalle"
                                [isAtenderOT]="false"
                                (detalleRepuestoToUpdate)="addEditRepuesto($event)"
                                (cancelAddEditRepuesto)="onCancelAddEditRepuesto($event)">
</app-solicitud-repuesto-detalle>

