.form-orden-trabajo-label {
  font-weight: bold !important;
}

.form-orden-trabajo-title{
  font-weight: bold !important;
  text-align: center;
}

.form-orden-trabajo-sub-title{
  font-weight: bold !important;
  text-align: left;
}

.col-label-equipo {
  text-align: right !important;
}

.tamanho-total {
  width: 100% !important;
}

.tamanho-medio{
  width: 50% !important;
}


.label-input {
  font-weight: bold !important;
  color: #454545 !important;
}

.table-header {
  font-size: 13px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  text-align: center !important;
}

.table-column {
  font-size: 12px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.cod-cant-field {
  min-width: 5% !important;
  width: 5% !important;
}

.equipo-warning-icon {
  color:red !important;
}

.equipo-success-icon {
  color:green !important;
}

