<div class="main-container">
  <header class="header header-4">
    ...
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="container col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a (click)="irPaginaEquipo()" class="nav-link" routerLinkActive="active">
          Equipos
        </a>
        <a (click)="irPaginaContrato()" class="nav-link" routerLinkActive="active">
          Contratos
        </a>

        <section class="nav-group">
          <input id="mantenimiento" type="checkbox">
          <label for="mantenimiento">Mantenimiento</label>
          <ul class="nav-list">
            <li>
              <a (click)="irPaginaSolicitudRepuesto()"
                 class="nav-link" routerLinkActive="active">Solicitud Repuestos
              </a>
            </li>
            <li>
              <a (click)="irPaginaOTPendientes()"
                 class="nav-link" routerLinkActive="active">Orden de Trabajo Pendientes
              </a>
            </li>
            <li *ngIf="existenOTAtendidas">
              <a routerLink="./mantenimiento/orden-trabajo/lista-orden-trabajo-finalizadas"
                 class="nav-link" routerLinkActive="active">Orden de Trabajo Atendidas
              </a>
            </li>
          </ul>
        </section>

        <section class="nav-group">
          <input id="informe" type="checkbox">
          <label for="informe">Informes</label>
          <ul class="nav-list">
            <li>
              <a routerLink="./informes/informe-equipo"
                 class="nav-link" routerLinkActive="active">Equipos
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>
