<h3 class="modal-title form-repuesto-title">Editar Repuesto</h3>

<!-- info -->
<div class="alert alert-info" *ngIf="info">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="info = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<!-- errors -->
<div class="alert alert-danger" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="error = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<form clrForm #repuestoForm="ngForm">

  <div class="clr-row clr-justify-content-start">
    <!--columna izquierda-->
    <div class="clr-col-6">
      <clr-input-container>
        <label class="clr-col-8">Código:</label>
        <input class="tamanho-total clr-col-6" clrInput id="codigo"
               name="codigo" [(ngModel)]="codigo" disabled/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-8">Precio:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" [(ngModel)]="precio" name="precio"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-8">Cant. Adquirida:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text"
               [(ngModel)]="cantAdquirida" name="cantAdquirida"/>
      </clr-input-container>

      <clr-select-container>
        <label class="clr-col-8">Tipo</label>
        <select clrSelect name="tipoEqId" [(ngModel)]="tipoEqId"
                (ngModelChange)="onSelectTipoEquipo()">
          <option disabled>Seleccionar Tipo</option>
          <option *ngFor="let tipo of tipos"
                  value={{tipo.id}}>{{tipo.tipo}}
          </option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label class="clr-col-8">Representante:</label>
        <select clrSelect name="repreId" [(ngModel)]="repreId"
                (ngModelChange)="onSelectRepresentante()">
          <option disabled>Seleccionar Representante</option>
          <option *ngFor="let repre of representantes"
                  value={{repre.id}}>{{repre.nombre}}
          </option>
        </select>
      </clr-select-container>
    </div>

    <!--columna derecha-->
    <div class="clr-col-6">
      <clr-textarea-container>
        <label class="clr-col-5">Descripción:</label>
        <textarea class="tamanho-total" clrTextarea [(ngModel)]="descripcion" name="description" required></textarea>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-textarea-container>

      <clr-input-container>
        <label class="clr-col-8">Cant. Existente:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" [(ngModel)]="cantExistente" name="cantExistente"/>
      </clr-input-container>

      <clr-select-container>
        <label class="clr-col-5">Seleccione Marca</label>
        <select clrSelect name="marcaId" [(ngModel)]="marcaId"
                (ngModelChange)="onSelectMarca()">
          <option>Seleccionar Marca</option>
          <option *ngFor="let marca of marcas"
                  value={{marca.id}}>{{marca.marca}}
          </option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label class="clr-col-5">Modelo:</label>
        <select clrSelect name="tipoId" [(ngModel)]="modeloId"
                (ngModelChange)="onSelectModelo()">
          <option disabled>Seleccionar Modelo</option>
          <option *ngFor="let modelo of modelos"
                  value={{modelo.id}}>{{modelo.modelo}}
          </option>
        </select>
      </clr-select-container>
    </div>
  </div>

  <br><br>
  <div class="clr-row clr-justify-content-start">
    <button class="btn btn-sm btn-success"
            [disabled]="(repuestoForm.form.invalid )"
            (click)="onEditRepuesto()">
      <clr-icon shape="floppy"></clr-icon>
      Guardar
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
  </div>
</form>
