form-repuesto-title {
  font-weight: bold;
  text-align: center;
}

.form-repuesto-label {
  font-weight: bold !important;
}

.col-label-repuesto {
  text-align: right !important;
}

.tamanho-total {
  width: 100% !important;
}
