.form-solicitud-title {
  font-weight: bold;
  text-align: center;
}

.form-solicitud-label {
  font-weight: bold;
}

.selectSolicitud {
  background-color: darkgrey !important;
}

pre {
  border: 0 solid #ccc !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}
