<h2 class="form-add-edit-sol-repuesto-title">Editar Solicitud de Repuestos</h2>
<form class="compact" #repuestoForm="ngForm">
  <div class="form-group row flex-items-xs-left">
    <div class="col-xs-1">
      <label class="form-add-edit-repuesto-label" for="estado">Estado:</label>
    </div>
    <div class="col-xs-3">
      <input class="form-control" id="estado"
             name="codigoDes" [(ngModel)]="estado">
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-1">
      <label class="form-add-edit-repuesto-label">Fecha:</label>
    </div>
    <div class="col-xs-2">
      <clr-date-container>
        <input type="date" clrDate name="fechaFin" [(ngModel)]="fechaSolicitud"
               min="2000-01-01" max="2030-12-31">
      </clr-date-container>
    </div>
  </div>

  <h6 class="form-add-edit-sol-repuesto-title">Repuestos</h6>
  <section>
    <clr-datagrid>
      <clr-dg-action-bar>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary"
                  (click)="addNewRepuesto()">
            <clr-icon shape="plus"></clr-icon>
            Agregar
          </button>
        </div>
      </clr-dg-action-bar>
      <clr-dg-column>Código</clr-dg-column>
      <clr-dg-column>Descripción</clr-dg-column>
      <clr-dg-column>Tipo</clr-dg-column>
      <clr-dg-column>Marca</clr-dg-column>
      <clr-dg-column>Modelo</clr-dg-column>
      <clr-dg-column>Representante</clr-dg-column>
      <clr-dg-column>Precio</clr-dg-column>
      <clr-dg-column>Cantidad Solicitada</clr-dg-column>
      <clr-dg-column></clr-dg-column>
      <clr-dg-row *ngFor="let detalle of solicitudRepuestoDetalles">
        <clr-dg-cell>{{detalle.repuesto?.codigo}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.repuesto?.descripcionArticulo}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.repuesto?.tipoEquipo?.tipo}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.repuesto?.modeloEquipo?.marca}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.repuesto?.modeloEquipo?.modelo}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.repuesto?.representante?.nombre}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.repuesto?.precio}}</clr-dg-cell>
        <clr-dg-cell>{{detalle.cantidadSolicitada}}</clr-dg-cell>
        <clr-dg-cell>
          <a class="btn btn-sm btn-warning"
             (click)="eliminarDetalleRepuesto(detalle)">
            Eliminar
          </a>
          <a type="button" class="btn btn-sm btn-secondary"
             (click)="editRepuesto(detalle)">
            <clr-icon shape="plus"></clr-icon>
            Editar
          </a>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </section>

  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(repuestoForm.form.invalid )"
            (click)="onSaveSolicitudRepuesto()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </button>
  </section>
</form>

<!--Modal para agregar o editar los datos de un repuesto-->
<app-solicitud-repuesto-detalle *ngIf="modalAddEditDetalleOpen"
                                [solicitudRepuestoDetalle]="detalleSeleccionado"
                                [isEditRepuesto]="isEditDetalle"
                                [isAtenderOT]="false"
                                (detalleRepuestoToUpdate)="closeRepuestoModal($event)"
                                (cancelAddEditRepuesto)="closeRepuestoModal($event)">
</app-solicitud-repuesto-detalle>
