<h3 class="modal-title form-repuesto-title">Crear Repuesto</h3>
<!-- info -->
<div class="alert alert-info" *ngIf="info">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="info = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<!-- errors -->
<div class="alert alert-danger" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="error = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<form clrForm>
  <div class="clr-row clr-justify-content-start">
    <!--columna izquierda-->
    <div class="clr-col-6">
      <clr-input-container>
        <label class="clr-col-8">Código:</label>
        <input class="tamanho-total clr-col-6" clrInput id="codRepuesto"
               name="codRepuesto" #codRep tabindex="1"
               (keyup.enter)="onEnterCodigoRepuesto(codRep.value)"
               (keyup)="onKeyCodigoRepuesto(codRep.value)"
               [(ngModel)]="codigo" required/>
        <clr-control-helper>Ingrese un codigo y presione enter para verificar existencia</clr-control-helper>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-8">Precio:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" [(ngModel)]="precio"
               name="precio" [disabled]="readonlyField" tabindex="2"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-8">Cant. Adquirida:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" tabindex="3"
               [(ngModel)]="cantAdquirida" name="cantAdquirida" [disabled]="readonlyField"/>
      </clr-input-container>

      <clr-select-container>
        <label class="clr-col-5">Tipo</label>
        <select clrSelect name="tipoEqId" [(ngModel)]="tipoEqId" tabindex="4"
                (ngModelChange)="onSelectTipoEquipo()" [disabled]="readonlyField">
          <option disabled>Seleccionar Tipo</option>
          <option *ngFor="let tipo of tipos"
                  value={{tipo.id}}>{{tipo.tipo}}
          </option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label class="clr-col-5">Representante:</label>
        <select clrSelect name="repreId" [(ngModel)]="repreId" [disabled]="readonlyField"
                (ngModelChange)="onSelectRepresentante()" tabindex="5">
          <option disabled>Seleccionar Representante</option>
          <option *ngFor="let repre of representantes"
                  value={{repre.id}}>{{repre.nombre}}
          </option>
        </select>
      </clr-select-container>
    </div>

    <!--columna derecha-->
    <div class="clr-col-6">
      <clr-textarea-container>
        <label class="clr-col-5">Descripción:</label>
        <textarea class="tamanho-total" clrTextarea [(ngModel)]="descripcion"
                  name="description" required [disabled]="readonlyField" tabindex="6"
                  #despRep
                  (keyup)="onKeyDescripcionRepuesto(despRep.value)">
            </textarea>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-textarea-container>

      <clr-input-container>
        <label class="clr-col-8">Cant. Existente:</label>
        <input class="tamanho-total clr-col-6" clrInput type="text" tabindex="7"
               [(ngModel)]="cantExistente" name="cantExistente" [disabled]="readonlyField"/>
      </clr-input-container>

      <clr-select-container>
        <label class="clr-col-5">Seleccione Marca</label>
        <select clrSelect name="marcaId" [(ngModel)]="marcaId" [disabled]="readonlyField"
                (ngModelChange)="onSelectMarca()" tabindex="8">
          <option>Seleccionar Marca</option>
          <option *ngFor="let marca of marcas"
                  value={{marca.id}}>{{marca.marca}}
          </option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label class="clr-col-5">Modelo:</label>
        <select clrSelect name="tipoId" [(ngModel)]="modeloId" [disabled]="readonlyField"
                (ngModelChange)="onSelectModelo()" tabindex="9">
          <option disabled>Seleccionar Modelo</option>
          <option *ngFor="let modelo of modelos"
                  value={{modelo.id}}>{{modelo.modelo}}
          </option>
        </select>
      </clr-select-container>
    </div>
  </div>

  <br><br>
  <div class="clr-row clr-justify-content-start">
    <button class="btn btn-sm btn-success"
            [disabled]="!addBtnHabilitado"
            (click)="addRepuesto()">
      <clr-icon shape="floppy"></clr-icon>
      Guardar
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
  </div>
</form>
