.form-contrato-title {
  font-weight: bold;
  text-align: center;
}

.selectContrato {
  background-color: darkgrey !important;
  cursor: pointer !important;
}

.form-contrato-label {
  font-weight: bold !important;
}

.col-label-contrato {
  text-align: right !important;
}

.filtro-btn {
  margin-left: 2% !important;
}

pre {
  border: 0px solid #ccc !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.form-filter-label {
  font-weight: bold;
  text-align: left;
}

.table-header {
  font-size: 16px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  text-align: center !important;
}

.table-column {
  font-size: 15px !important;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
}

.margin-col-label {
  margin-left: 2% !important;
}

.margin-col-input {
  margin-left: 1% !important;
}

.margin-col-btn {
  margin-top: -1% !important;
}

>>> .p-component {
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 0.9rem !important;
}

>>> .p-inputtext {
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 0.9rem !important;
}
