<h2 class="form-contrato-title">Contratos</h2>
<br>
<!--info action-->
<div class="alert alert-info alert-sm" *ngIf="info">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon"
                  shape="check-circle">
        </clr-icon>
      </div>
      <span class="alert-text">
            {{ infoMessage }}
          </span>
    </div>
  </div>
</div>

<!-- errors -->
<div class="alert alert-danger alert-sm" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon"
                  shape="exclamation-circle">
        </clr-icon>
      </div>
      <span class="alert-text">{{errorMessage}}</span>
    </div>
  </div>
  <a type="button" class="close" aria-label="Close"
     (click)="error = false">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </a>
</div>
<br>

<form clrForm>
  <!-- estado-->
  <div>
    <label class="clr-col-1 clr-align-self-end form-contrato-label">Estado Contrato:</label>
    <div class="clr-select-wrapper">
      <select class="clr-select" id="select-estado-contrato" name="estadoContrato"
              [(ngModel)]="estadoContrato"
              (change)="onSelectEstadoContrado()">
        <option>Filtrar por Estado Contrato</option>
        <option *ngFor="let estado of estadosContrato"
                value={{estado.nombre}}>{{estado.nombre}}
        </option>
      </select>
    </div>
    <a class="btn btn-sm btn-primary filtro-btn " (click)="filtrarContrato()">
      <clr-icon shape="search"></clr-icon>
    </a>

    <clr-input-container>
      <label>ID Licitación:</label>
      <input clrInput type="text" [(ngModel)]="idContrato" name="idContrato"/>
    </clr-input-container>

  </div>
  <br/>
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-primary" (click)="goNewContratoForm()">
      <clr-icon shape="plus"></clr-icon>
      Crear
    </button>
    <button type="button" class="btn btn-sm btn-success" *ngIf="selectedContrato != null"
            (click)="editContrato()">
      <clr-icon shape="pencil"></clr-icon>
      Editar
    </button>

    <button type="button" class="btn btn-sm btn-secondary" *ngIf="total > 0"
            (click)="exportToExcel()">
      <clr-icon shape="pencil"></clr-icon>
      Export
    </button>
  </div>
  <div class="card">
    <p-table [value]="contratos" selectionMode="single" [(selection)]="selectedContrato" dataKey="id"
             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
             currentPageReportTemplate="{first} - {last} de {totalRecords} contratos"
             [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 1rem"></th>
          <th class="table-header">ID</th>
          <th class="table-header">Nro. Contrato</th>
          <th class="table-header">Nombre Licitación</th>
          <th class="table-header">Tipo Procedimiento</th>
          <th class="table-header">Estado</th>
          <th class="table-header">Inicio</th>
          <th class="table-header">Finalización</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contrato let-expanded="expanded">
        <tr [pSelectableRow]="contrato">
          <td>
            <button type="button" pButton pRipple [pRowToggler]="contrato"
                    class="p-button-text p-button-rounded p-button-plain table-column"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            </button>
          </td>
          <td class="table-column text-center">{{contrato.id}}</td>
          <td class="table-column text-center">{{contrato.numeroContrato}}</td>
          <td class="table-column text-left">{{contrato.nombreLicitacion}}</td>
          <td class="table-column text-center">{{contrato.tipoProcedimiento}}</td>
          <td class="table-column text-center">{{contrato.estadoContrato}}</td>
          <td class="table-column text-center">{{contrato.fechaInicio}}</td>
          <td class="table-column text-center">{{contrato.fechaFin}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-contrato>
        <tr>
          <td colspan="8">
            <div class="p-p-3">
              <p-table [value]="contrato.equipos" dataKey="numeroSerie">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="table-column">Tipo</th>
                    <th class="table-column">Marca</th>
                    <th class="table-column">Modelo</th>
                    <th class="table-column">Nro. Serie</th>
                    <th class="table-column">Nro. Patrimonial</th>
                    <th class="table-column">Estado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-equipo>
                  <tr>
                    <td class="table-column">{{equipo.tipoEquipo?.tipo}}</td>
                    <td class="table-column"> {{equipo.marca?.marca}}</td>
                    <td class="table-column">{{equipo.modelo?.modelo}}</td>
                    <td class="table-column">{{equipo.numeroSerie}}</td>
                    <td class="table-column">{{equipo.numeroPatrimonial}}</td>
                    <td class="table-column">{{equipo.estado}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4" class="table-column text-center">No Existen Equipos asociados al contrato</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>

