<form class="clr-form clr-form-compact">
  <h2 class="form-contrato-title">Contratos</h2>
  <br>
  <!--info action-->
  <div class="alert alert-info alert-sm" *ngIf="info">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="check-circle">
          </clr-icon>
        </div>
        <span class="alert-text">
            {{ infoMessage }}
          </span>
      </div>
    </div>
  </div>

  <!-- errors -->
  <div class="alert alert-danger alert-sm" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon"
                    shape="exclamation-circle">
          </clr-icon>
        </div>
        <span class="alert-text">{{errorMessage}}</span>
      </div>
    </div>
    <a type="button" class="close" aria-label="Close"
       (click)="error = false">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </a>
  </div>
  <br>

  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-action-bar>
      <div class="clr-row clr-justify-content-start clr-col-12">
        <div class="clr-col-5">
          <div class="form-group row">
            <div class="col-4">
              <label class="form-filter-label">Estado Contrato:</label>
            </div>
            <div class="col-4">
              <div class="select form-control">
                <select class="select-form-equipo" id="estadoContrato" #selectEstadoContrato name="estadoContrato"
                        [(ngModel)]="estadoContrato"
                        (change)="onSelectedEstadoContrado(selectEstadoContrato.value)">
                  <option>Filtrar por Estado Contrato</option>
                  <option *ngFor="let estado of estadosContrato"
                          value={{estado.nombre}}>{{estado.nombre}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="form-filter-label">Tipo Procedimiento:</label>
            </div>
            <div class="col-4">
              <input class="form-control" id="tipoProc"
                     name="tipo" [(ngModel)]="tipoProcedimiento">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class="form-filter-label" for="nroContrato">Nro. Contrato:</label>
            </div>
            <div class="col-4">
              <input class="form-control" id="nroContrato"
                     name="nroContrato" [(ngModel)]="numeroContrato">
            </div>
          </div>
        </div>
        <div class="clr-col-2">
          <a class="btn btn-sm btn-primary" (click)="filtrarContrato()">
            <clr-icon shape="search"></clr-icon>
          </a>
        </div>
        <div class="clr-col-12">
          <div class="clr-form-control clr-row">
            <a class="btn btn-sm btn-success"
               (click)="goNewContratoForm()">
              <clr-icon shape="plus"></clr-icon>
              Crear
            </a>
            <a class="btn btn-sm btn-success"
               *ngIf="selectedContrato != null"
               (click)="editContrato()">
              <clr-icon shape="pencil"></clr-icon>
              Editar
            </a>
          </div>
        </div>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column class="table-header">ID</clr-dg-column>
    <clr-dg-column class="table-header">Nro. Contrato</clr-dg-column>
    <clr-dg-column class="table-header">Nombre Licitación</clr-dg-column>
    <clr-dg-column class="table-header">Tipo</clr-dg-column>
    <clr-dg-column class="table-header">Estado</clr-dg-column>
    <clr-dg-column class="table-header">Equipos</clr-dg-column>
    <clr-dg-column class="table-header">Inicio</clr-dg-column>
    <clr-dg-column class="table-header">Finalización</clr-dg-column>

    <clr-dg-row *ngFor="let contrato of contratos" (click)="selectContrato(contrato)"
                [class.selectContrato]="contrato === selectedContrato">
      <clr-dg-cell class="table-column">{{contrato.id}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{contrato.numeroContrato}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{contrato.nombreLicitacion}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{contrato.tipoProcedimiento}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{contrato.estadoContrato}}</clr-dg-cell>
      <clr-dg-cell class="table-column">
        <ul class="list-unstyled" *ngFor="let equipo of contrato.equipos">
          <li>{{equipo.numeroSerie}}-{{equipo.descripcionEquipo}}</li>
        </ul>
      </clr-dg-cell>
      <clr-dg-cell class="table-column">{{contrato.fechaInicio}}</clr-dg-cell>
      <clr-dg-cell class="table-column">{{contrato.fechaFin}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{total}} Contratos
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</form>

