<!--Modal para agregar o editar los datos de la ubicación del equipo -->
<clr-modal [(clrModalOpen)]="modalUbicacionOpen" [clrModalClosable]="false">
  <h3 class="modal-title form-ubicacion-equipo-title">{{modalUbicacionTitle}}</h3>
  <div class="modal-body">

    <form clrForm #ubicacionForm="ngForm">
      <clr-input-container>
        <label class="clr-col-5">Servicio:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="servicio" name="servicio"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Bloque:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="bloque" name="bloque" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Nivel:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="nivel" name="nivel" required/>
        <clr-control-error>El campo es obligatorio</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-5">Nro.Sala:</label>
        <input class="tamanho-total clr-col-10" clrInput type="text" [(ngModel)]="numeroSala" name="numeroSala"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline btn-sm" type="button"
            (click)="onCancelAddEditUbicacion()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
    <button class="btn btn-success btn-sm" type="button"
            (click)="addUbicacion()"
            [disabled]="(ubicacionForm.form.invalid)">
      <clr-icon shape="check"></clr-icon>
      {{btnTitle}}
    </button>
  </div>
</clr-modal>
