<!--Modal para agregar o editar los datos de la ubicación del equipo -->
<clr-modal [(clrModalOpen)]="modalUbicacionOpen" [clrModalClosable]="false">
  <h2 class="modal-title form-ubicacion-equipo-title">{{modalUbicacionTitle}}</h2>
  <div class="modal-body">
    <form class="compact" #ubicacionForm="ngForm">
      <section class="form-block">
        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-ubicacion-equipo-label" for="servicio">Mantenimiento:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="servicio"
                   name="servicio" [(ngModel)]="servicio">
          </div>

          <div class="col-xs-2">
            <label class="form-ubicacion-equipo-label required" for="bloque">Bloque:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="bloque" required
                   name="bloque" [(ngModel)]="bloque">
          </div>
        </div>

        <div class="form-group row flex-items-xs-left">
          <div class="col-xs-2">
            <label class="form-ubicacion-equipo-label required" for="nivel">Nivel:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control " id="nivel" required
                   name="nivel" [(ngModel)]="nivel">
          </div>

          <div class="col-xs-2">
            <label class="form-ubicacion-equipo-label required" for="nro_sala">Nro.Sala:</label>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="nro_sala" required
                   name="nro_sala" [(ngModel)]="numeroSala">
          </div>
        </div>
      </section>
    </form>
  </div>
  <
  <div class="modal-footer">
    <button class="btn btn-outline btn-sm" type="button"
            (click)="onCancelAddEditUbicacion()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
    <button class="btn btn-success btn-sm" type="button"
            (click)="addUbicacion()"
            [disabled]="(ubicacionForm.form.invalid)">
      <clr-icon shape="check"></clr-icon>
      {{btnTitle}}
    </button>
  </div>
</clr-modal>
