<h2 class="form-mantenimiento-title">Atender Orden de Trabajo</h2>
<form class="compact" #mantenimientoForm="ngForm">
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-1">
        <label class="form-mantenimiento-label">Estado:</label>
      </div>
      <div class="col-xs-2">
        <label class="form-control">{{estado}}</label>
      </div>
    </div>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-mantenimiento-label">Tipo Mantenimiento:</label>
      </div>
      <div class="col-xs-2">
        <label class="form-control">{{tipoServicio}}</label>
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-6">
        <label class="form-mantenimiento-label">Personal que reporta el problema:</label>
      </div>
      <div class="col-xs-6">
        <label class="form-mantenimiento-label">Descripción del Problema:</label>
      </div>
      <div class="col-xs-4">
        <label class="form-mantenimiento-label">{{responsable}}</label>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-6">
        <textarea class="form-control" id="diagnostico" rows="5"
                  name="diagnostico" [(ngModel)]="diagnostico" disabled>
        </textarea>
      </div>
    </div>
  </section>
  <hr>
  <!-- información del equipo-->
  <h4 class="form-mantenimiento-sub-title">Información del Equipo</h4>
  <section class="form-block">
    <table class="table table-compact table-noborder">
      <thead>
      <tr>
        <th class="left">Nro. Serie</th>
        <th>Nro. Patrimonial</th>
        <th>Tipo</th>
        <th>Modelo</th>
        <th class="left">Ubicación</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos">
          <td class="left">{{equipo?.numeroSerie}}</td>
          <td>{{equipo?.numeroPatrimonial}}</td>
          <td>{{equipo?.tipoEquipo?.tipo}}</td>
          <td>{{equipo?.modeloEquipo?.modelo}}</td>
          <td class="left">{{equipo.ubicacion?.numeroSala}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <br>
  <hr>
  <h4 class="form-mantenimiento-sub-title">Repuestos Solicitados</h4>
  <section>
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-2">
        <label class="form-mantenimiento-label">Solicitud Repuesto: {{solicitudRepuesto?.id}}</label>
      </div>
    </div>

    <table class="table table-compact table-noborder">
      <thead>
      <tr>
        <th class="left">Código</th>
        <th>Descripción</th>
        <th>Cantidad Adquirida</th>
        <th class="left">Precio</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let repuesto of repuestos">
        <td class="left">{{repuesto?.codigo}}</td>
        <td>{{repuesto?.descripcionArticulo}}</td>
        <td>{{repuesto?.cantidadAdquirida}}</td>
        <td class="left">{{repuesto?.precio}}</td>
      </tr>
      </tbody>
    </table>
  </section>
  <hr>
  <!--  Registro de servicio-->
  <h4 class="form-mantenimiento-sub-title">Registro de servicio</h4>
  <section class="form-block">
    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-3">
        <label class="form-mantenimiento-label" for="informeNro">Informa Nro:</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="informeNro"
               name="informeNro" [(ngModel)]="informeNro">

      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-3">
        <label class="form-mantenimiento-label required" for="tarea">Tarea Realizada:</label>
      </div>
      <div class="col-xs-5">
        <textarea class="form-control" id="tarea" rows="5"
                  name="tarea" [(ngModel)]="tareaRealizada">
        </textarea>
      </div>
    </div>

    <div class="form-group row flex-items-xs-left">
      <div class="col-xs-3">
        <label class="form-mantenimiento-label required" for="nombreTecnico">Nombre del Técnico:</label>
      </div>
      <div class="col-xs-5">
        <input class="form-control" id="nombreTecnico"
               name="nombreTecnico" [(ngModel)]="nombreTecnico">
      </div>
    </div>
  </section>

  <section class="form-block">
    <button class="btn btn-sm btn-success"
            [disabled]="(mantenimientoForm.form.invalid )"
            (click)="onSaveMantenimiento()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </button>

    <button class="btn btn-sm btn-secondary"
            (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancelar
    </button>
  </section>
</form>
