<h2 class="form-mantenimiento-title">Atender Orden de Trabajo</h2>

<form clrForm>
  <div class="clr-col-4">
    <clr-select-container>
      <label>Estado:</label>
      <select clrSelect name="estadoOT" #selectEstadoOT
              [(ngModel)]="estadoOT"
              (change)="onSelectedEstado(selectEstadoOT.value)">
        <option *ngFor="let estado of estados"
                value={{estado.nombre}}>{{estado.nombre}}
        </option>
      </select>
    </clr-select-container>
  </div>
  <br/>
  <div class="clr-col-8">
    <table class="table table-vertical">
      <tbody>
      <tr>
        <th class="info-table-header">Tipo Mantenimiento:</th>
        <td>{{tipoServicio}} </td>
      </tr>
      <tr>
        <th class="info-table-header">Persona que reporta el problema:</th>
        <td>{{responsable}}</td>
      </tr>
      <tr>
        <th class="info-table-header">Descripción del Problema:</th>
        <td>{{diagnostico}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <hr>
  <!-- información del equipo-->
  <h4 class="form-mantenimiento-sub-title">Información del Equipo</h4>
  <table class="table table-compact">
    <thead>
    <tr>
      <th class=" table-header left">Nro. Serie</th>
      <th class=" table-header">Nro. Patrimonial</th>
      <th class=" table-header">Tipo</th>
      <th class=" table-header">Marca</th>
      <th class=" table-header">Modelo</th>
      <th class=" table-header">Descripción</th>
      <th class=" table-header">Ubicación</th>
      <th class=" table-header">Representante</th>
      <th class=" table-header">Fecha Garantia</th>
      <th class=" table-header left">Contrato</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="table-column left">{{equipo?.numeroSerie}}</td>
      <td class="table-column left">{{equipo?.numeroPatrimonial}}</td>
      <td class="table-column left">{{equipo?.tipoEquipo?.tipo}}</td>
      <td class="table-column">{{equipo?.marca?.marca}}</td>
      <td class="table-column">{{equipo?.modelo?.modelo}}</td>
      <td class="table-column">{{equipo?.descripcionEquipo}}</td>
      <td
        class="table-column">{{ equipo?.ubicacion?.bloque ? equipo?.ubicacion?.bloque + ' ' : ''  }}
        {{equipo?.ubicacion?.nivel ? equipo?.ubicacion?.nivel + ' ' : '' }}
        {{equipo?.ubicacion?.numeroSala ? equipo?.ubicacion?.numeroSala + ' ' : '' }}</td>
      <td class="table-column">{{equipo?.representante.nombre}}</td>
      <td class="table-column">{{equipo?.fechaVenGarantia}}</td>
      <td class=" table-columnleft">{{equipo?.contrato.numeroContrato}}</td>
    </tr>
    </tbody>
  </table>

  <br>
  <hr>
  <h4 class="form-mantenimiento-sub-title">Repuestos Solicitados</h4>
  <p class="label-input ">Solicitud Repuesto ID: {{solicitudRepuesto?.id}}</p>
  <p-table [value]="solicitudRepuestoDetalles">
    <ng-template pTemplate="header">
      <tr>
        <th class="table-header">Código</th>
        <th class="table-header">Descripción</th>
        <th class="table-header">Tipo</th>
        <th class="table-header">Marca</th>
        <th class="table-header">Modelo</th>
        <th class="table-header">Representante</th>
        <th class="table-header">Precio</th>
        <th class="table-header">Cantidad Solicitada</th>
        <th style="width:6rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalle>
      <tr>
        <td class="table-column" style="text-align: center">{{detalle.repuesto?.codigo}}</td>
        <td class="table-column">{{detalle.repuesto?.descripcionArticulo}}</td>
        <td class="table-column">{{detalle.repuesto?.tipoEquipo?.tipo}}</td>
        <td class="table-column">{{detalle.repuesto?.marca?.marca}}</td>
        <td class="table-column">{{detalle.repuesto?.modelo?.modelo}}</td>
        <td class="table-column">{{detalle.repuesto?.representante?.nombre}}</td>
        <td class="table-column" style="text-align: right">{{detalle.repuesto?.precio}}</td>
        <td class="table-column" style="text-align: center">{{detalle.cantidadSolicitada}}</td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-success"
                  (click)="editarRepuesto(detalle)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <hr>
  <!--  Registro de servicio-->
  <h4 class="form-mantenimiento-sub-title">Registro de servicio</h4>
  <!-- errors -->
  <div class="clr-col-8">
    <div class="alert alert-danger" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{errorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="error = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>

  <br/>
  <p-table [value]="servicioRealizadoList">
    <ng-template pTemplate="header">
      <tr>
        <th class="table-header">Fecha Servicio</th>
        <th class="table-header">Nro Orden Servicio</th>
        <th class="table-header">Informe Numero</th>
        <th class="table-header">Nombre del Técnico</th>
        <th class="table-header">Tipo Servicio</th>
        <th class="table-header">Tarea Realizada</th>
        <th class="table-header">Estado del Equipo</th>
        <th style="width:6rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-servicio>
      <tr>
        <td class="table-column" style="text-align: center">{{servicio?.fechaMantenimiento}}</td>
        <td class="table-column">{{servicio?.numeroOrdenServicio}}</td>
        <td class="table-column">{{servicio?.informeNumero}}</td>
        <td class="table-column">{{servicio?.nombreTecnico}}</td>
        <td class="table-column">{{servicio?.tipoServicio}}</td>
        <td class="table-column" style="text-align: right">{{servicio?.tareaRealizada}}</td>
        <td class="table-column" style="text-align: center">{{servicio.estadoEquipo}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br/>

  <div class="clr-col-5">
    <clr-input-container>
      <label class="clr-col-5">Nro Orden Servicio:</label>
      <input clrInput type="text" [(ngModel)]="numeroOrdenServicio" name="nroOrdenServicio"/>
    </clr-input-container>
  </div>

  <div class="clr-col-5">
    <clr-input-container>
      <label class="clr-col-5">Informe Nro:</label>
      <input clrInput type="text" [(ngModel)]="informeNro" name="informeNro" required/>
      <clr-control-error>El campo es obligatorio</clr-control-error>
    </clr-input-container>
  </div>

  <div class="clr-col-8">
    <clr-textarea-container>
      <label class="clr-col-8">Tarea Realizada:</label>
      <textarea class="tamanho-total clr-col-6" clrTextarea [(ngModel)]="tareaRealizada" name="tareaRealizada" required>
      </textarea>
      <clr-control-error>El campo es obligatorio</clr-control-error>
    </clr-textarea-container>

    <clr-input-container>
      <label class="clr-col-8">Nombre del Técnico:</label>
      <input class="tamanho-medio" clrInput type="text" [(ngModel)]="nombreTecnico" name="nombreTecnico"/>
    </clr-input-container>

    <clr-select-container>
      <label>Estado del Equipo</label>
      <select clrSelect name="estadoEq" [(ngModel)]="estadoEquipo">
        <option value="Operativo">Operativo</option>
        <option value="Inoperativo">Inoperativo</option>
        <option value="Irreparable">Irreparable</option>
      </select>
    </clr-select-container>
  </div>
  <br/><br/>
  <div class="clr-row clr-justify-content-start">
    <a class="btn btn-sm btn-success"
       (click)="onSaveMantenimiento()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </a>

    <a class="btn btn-sm btn-secondary"
       (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </a>
  </div>
</form>

<!--Modal para agregar o editar los datos de un repuesto-->
<app-solicitud-repuesto-detalle *ngIf="modalAddEditDetalleOpen"
                                [solicitudRepuesto]="solicitudRepuesto"
                                [solicitudRepuestoDetalle]="detalleSeleccionado"
                                [isEditRepuesto]="true"
                                [isAtenderOT]="true"
                                (detalleRepuestoToUpdate)="addEditRepuesto($event)"
                                (cancelAddEditRepuesto)="onCancelAddEditRepuesto($event)">
</app-solicitud-repuesto-detalle>
